<settings>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="Show_SlideShow_Paused" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="HideBackGroundFanart" type="bool">true</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">true</setting>
    <setting id="SmartShortcuts.netflix" type="bool">false</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">true</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">true</setting>
    <setting id="homepageMusicinfo" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">true</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">true</setting>
    <setting id="EnableNextAiredNotifications" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="ActivateTvTunes" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="HideFilenameFlagging" type="bool">false</setting>
    <setting id="HideEPGwithRDS" type="bool">false</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="WindowedTrailer" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="EnableWeatherNotifications" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="homepageVideoinfo" type="bool">false</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">true</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="HomeProgramButton6" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="videoinfo_traileraction" type="string"></setting>
    <setting id="HomeProgramButton3" type="string">plugin.program.echowizard</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="HomeMusicButton1" type="string">plugin.audio.mp3streams</setting>
    <setting id="CustomBackgroundPath" type="string">/sdcard/tron_legacy_light_cycle-wallpaper-1920x1080 [www.imagesplitter.net].png</setting>
    <setting id="SkinHelper.ForcedViews.programs" type="string"></setting>
    <setting id="HomeMusicButton2" type="string">plugin.video.itunes_podcasts</setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="HomeVideosButton1" type="string">plugin.video.kodinolimits</setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.addons" type="string"></setting>
    <setting id="HomeProgramButton5" type="string">plugin.video.xbmchubmaintenance</setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="HomeProgramButton1" type="string">plugin.video.nolimitswizard</setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string">/Volumes/Mac/Users/Jon/Documents/FireTV/Stuff/TronIntro.mp4</setting>
    <setting id="HomeMusicButton4" type="string">plugin.audio.radioreference</setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeProgramButton2" type="string">plugin.video.freshstart</setting>
    <setting id="SkinHelper.CustomStudioImagesPath" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string"></setting>
    <setting id="HomeProgramButton4" type="string">plugin.program.addoninstaller</setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="SkinHelper.PicturesBackgroundPath" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="HomeMusicButton3" type="string">plugin.video.XBMCKaraoke</setting>
    <setting id="HomePictureButton3" type="string"></setting>
</settings>
