<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="seyirTURK">
   <setting id="mail" type="text" label="Kullanıcı Adı:" default=""/>
   <setting id="sifre" type="text" label="Kullanıcı Şifre:" default=""/>
   <setting id="user_id" type="text" label="Kullanıcı id:" default="" enable="false" />
   <setting id="m3u" type="text" label="m3u Adresi:" default=""/>
   <setting id="root" type="text" label="root" visible="false" />
   <setting id="uclugorunum" type="bool" label="Görünüm: Normal <=> Genişletilmiş" default="true"/>
   <setting id="mac_add" type="text" label="MAC Adresi:" default="" enable="false"/>
   <setting id="recorded_date" type="date" label="Tarih"  visible="false" default="01-01-2020"/>
   </category>
</settings>

