<settings>
    <setting id="Ah-Me" value="true" />
    <setting id="EPORNER" value="true" />
    <setting id="Empflix" value="true" />
    <setting id="ExtremeTube" value="true" />
    <setting id="Faapy" value="true" />
    <setting id="Fapdu" value="true" />
    <setting id="GirlfriendVideos" value="true" />
    <setting id="Hentaigasm" value="true" />
    <setting id="IndianGilma" value="true" />
    <setting id="MadThumbs" value="true" />
    <setting id="MofoSex" value="true" />
    <setting id="Motherless" value="true" />
    <setting id="MovieFap" value="true" />
    <setting id="Porn.com" value="true" />
    <setting id="Pornburst.xxx" value="true" />
    <setting id="Pornhd" value="true" />
    <setting id="Pornhub" value="true" />
    <setting id="Pornmaki" value="true" />
    <setting id="PornoMovies" value="true" />
    <setting id="PornoXO" value="true" />
    <setting id="RedTube" value="true" />
    <setting id="Sexu" value="true" />
    <setting id="Slutload" value="true" />
    <setting id="SpankWire" value="true" />
    <setting id="SunPorno" value="true" />
    <setting id="TnAflix" value="true" />
    <setting id="Tukif" value="true" />
    <setting id="VMasala" value="true" />
    <setting id="Vporn" value="true" />
    <setting id="XVideos" value="true" />
    <setting id="YouPorn" value="true" />
    <setting id="bitporno.sx" value="true" />
    <setting id="download" value="false" />
    <setting id="download_ask" value="false" />
    <setting id="download_path" value="" />
    <setting id="enable_debug" value="false" />
    <setting id="hide_warning" value="true" />
    <setting id="video_type" value="0" />
    <setting id="xHamster" value="true" />
    <setting id="yuvutu" value="true" />
</settings>
