<settings version="2">
    <setting id="ab_kodi">true</setting>
    <setting id="ab_lastfm" default="true">false</setting>
    <setting id="ab_priority_kodi">1</setting>
    <setting id="ab_priority_lastfm">5</setting>
    <setting id="ab_priority_theaudiodb">5</setting>
    <setting id="ab_theaudiodb" default="true">false</setting>
    <setting id="agressive_stream_search" default="true">false</setting>
    <setting id="ai_lastfm" default="true">false</setting>
    <setting id="ai_priority_lastfm">5</setting>
    <setting id="ai_priority_theaudiodb">5</setting>
    <setting id="ai_theaudiodb" default="true">false</setting>
    <setting id="artist_image_storage" default="true">0</setting>
    <setting id="artist_info_storage" default="true">0</setting>
    <setting id="disable_multiartist" default="true">false</setting>
    <setting id="dn_download_only" default="true">false</setting>
    <setting id="download_notification" default="true">false</setting>
    <setting id="end_replace" default="true"></setting>
    <setting id="fadetoblack">true</setting>
    <setting id="fallback" default="true">false</setting>
    <setting id="fallback_path" default="true"></setting>
    <setting id="fanart_folder" default="true">extrafanart</setting>
    <setting id="fanarttv" default="true">false</setting>
    <setting id="fanarttv_all" default="true">false</setting>
    <setting id="fanarttv_clientapikey" default="true"></setting>
    <setting id="fanarttv_donated" default="true">false</setting>
    <setting id="illegal_replace" default="true">_</setting>
    <setting id="include_albumfanart" default="true">false</setting>
    <setting id="include_artistfanart">true</setting>
    <setting id="language">41</setting>
    <setting id="local_artist_path" default="true"></setting>
    <setting id="local_info_path" default="true"></setting>
    <setting id="localinfostorage" default="true">false</setting>
    <setting id="localstorageonly" default="true">false</setting>
    <setting id="logging" default="true">false</setting>
    <setting id="main_idle_sleep">10</setting>
    <setting id="main_sleep">1</setting>
    <setting id="max_cache_size" default="true">1024</setting>
    <setting id="pause_slideshow" default="true">false</setting>
    <setting id="restrict_cache" default="true">false</setting>
    <setting id="sa_lastfm" default="true">false</setting>
    <setting id="sa_priority_lastfm">5</setting>
    <setting id="slide_delay">10</setting>
    <setting id="slideshow" default="true">false</setting>
    <setting id="slideshow_path" default="true"></setting>
    <setting id="slideshow_sleep">1</setting>
    <setting id="storage_target" default="true">0</setting>
    <setting id="theaudiodb" default="true">false</setting>
    <setting id="theaudiodb_all" default="true">false</setting>
    <setting id="theaudiodb_donated" default="true">false</setting>
    <setting id="use_extrafanart_folder">true</setting>
</settings>
