<settings version="2">
    <setting id="addon_debug" default="true">false</setting>
    <setting id="AdultSwimResolver_enabled">true</setting>
    <setting id="AdultSwimResolver_login">true</setting>
    <setting id="AdultSwimResolver_priority">100</setting>
    <setting id="AliezResolver_enabled">true</setting>
    <setting id="AliezResolver_login">true</setting>
    <setting id="AliezResolver_priority">100</setting>
    <setting id="AllDebridResolver_auth" default="true"></setting>
    <setting id="AllDebridResolver_cached_only" default="true">false</setting>
    <setting id="AllDebridResolver_enabled">true</setting>
    <setting id="AllDebridResolver_login">false</setting>
    <setting id="AllDebridResolver_password" default="true"></setting>
    <setting id="AllDebridResolver_priority">100</setting>
    <setting id="AllDebridResolver_reset" default="true"></setting>
    <setting id="AllDebridResolver_token" default="true"></setting>
    <setting id="AllDebridResolver_torrents">true</setting>
    <setting id="AllDebridResolver_username" default="true"></setting>
    <setting id="allow_popups">true</setting>
    <setting id="allow_universal">true</setting>
    <setting id="AmazonCloudResolver_enabled">true</setting>
    <setting id="AmazonCloudResolver_login">true</setting>
    <setting id="AmazonCloudResolver_priority">100</setting>
    <setting id="AnaVidsResolver_enabled">true</setting>
    <setting id="AnaVidsResolver_login">true</setting>
    <setting id="AnaVidsResolver_priority">100</setting>
    <setting id="AnimePortalResolver_enabled" default="true">true</setting>
    <setting id="AnimePortalResolver_login" default="true">true</setting>
    <setting id="AnimePortalResolver_priority" default="true">100</setting>
    <setting id="AniStreamResolver_enabled">true</setting>
    <setting id="AniStreamResolver_login">true</setting>
    <setting id="AniStreamResolver_priority">100</setting>
    <setting id="AnyFilesResolver_enabled" default="true">true</setting>
    <setting id="AnyFilesResolver_login" default="true">true</setting>
    <setting id="AnyFilesResolver_priority" default="true">100</setting>
    <setting id="ApnaSaveResolver_enabled" default="true">true</setting>
    <setting id="ApnaSaveResolver_login" default="true">true</setting>
    <setting id="ApnaSaveResolver_priority" default="true">100</setting>
    <setting id="auto_pick">true</setting>
    <setting id="BitchuteResolver_enabled">true</setting>
    <setting id="BitchuteResolver_login">true</setting>
    <setting id="BitchuteResolver_priority">100</setting>
    <setting id="BitvidResolver_enabled" default="true">true</setting>
    <setting id="BitvidResolver_login" default="true">true</setting>
    <setting id="BitvidResolver_priority" default="true">100</setting>
    <setting id="BlazefileResolver_enabled" default="true">true</setting>
    <setting id="BlazefileResolver_login" default="true">true</setting>
    <setting id="BlazefileResolver_priority" default="true">100</setting>
    <setting id="BrighteonResolver_enabled">true</setting>
    <setting id="BrighteonResolver_login">true</setting>
    <setting id="BrighteonResolver_priority">100</setting>
    <setting id="CastampResolver_enabled">true</setting>
    <setting id="CastampResolver_login">true</setting>
    <setting id="CastampResolver_priority">100</setting>
    <setting id="CdaResolver_enabled">true</setting>
    <setting id="CdaResolver_login">true</setting>
    <setting id="CdaResolver_priority">100</setting>
    <setting id="ChromecastResolver_enabled">true</setting>
    <setting id="ChromecastResolver_login">true</setting>
    <setting id="ChromecastResolver_priority">100</setting>
    <setting id="ClickNUploadResolver_enabled">true</setting>
    <setting id="ClickNUploadResolver_login">true</setting>
    <setting id="ClickNUploadResolver_priority">100</setting>
    <setting id="ClipWatchingResolver_enabled">true</setting>
    <setting id="ClipWatchingResolver_login">true</setting>
    <setting id="ClipWatchingResolver_priority">100</setting>
    <setting id="CloudbResolver_enabled">true</setting>
    <setting id="CloudbResolver_login">true</setting>
    <setting id="CloudbResolver_priority">100</setting>
    <setting id="CloudVideoResolver_enabled">true</setting>
    <setting id="CloudVideoResolver_login">true</setting>
    <setting id="CloudVideoResolver_priority">100</setting>
    <setting id="CloudyResolver_enabled" default="true">true</setting>
    <setting id="CloudyResolver_login" default="true">true</setting>
    <setting id="CloudyResolver_priority" default="true">100</setting>
    <setting id="current_ua">Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.99 Safari/537.36</setting>
    <setting id="DaclipsResolver_enabled" default="true">true</setting>
    <setting id="DaclipsResolver_login" default="true">true</setting>
    <setting id="DaclipsResolver_priority" default="true">100</setting>
    <setting id="DailymotionResolver_enabled">true</setting>
    <setting id="DailymotionResolver_login">true</setting>
    <setting id="DailymotionResolver_priority">100</setting>
    <setting id="DateMuleResolver_enabled">true</setting>
    <setting id="DateMuleResolver_login">true</setting>
    <setting id="DateMuleResolver_priority">100</setting>
    <setting id="dbMoviesResolver_enabled" default="true">true</setting>
    <setting id="dbMoviesResolver_login" default="true">true</setting>
    <setting id="dbMoviesResolver_priority" default="true">100</setting>
    <setting id="DebridLinkResolver_auth" default="true"></setting>
    <setting id="DebridLinkResolver_cached_only" default="true">false</setting>
    <setting id="DebridLinkResolver_enabled">true</setting>
    <setting id="DebridLinkResolver_login">false</setting>
    <setting id="DebridLinkResolver_password" default="true"></setting>
    <setting id="DebridLinkResolver_priority">100</setting>
    <setting id="DebridLinkResolver_refresh" default="true"></setting>
    <setting id="DebridLinkResolver_reset" default="true"></setting>
    <setting id="DebridLinkResolver_token" default="true"></setting>
    <setting id="DebridLinkResolver_torrents">true</setting>
    <setting id="DebridLinkResolver_ts_offset" default="true">0</setting>
    <setting id="DebridLinkResolver_username" default="true"></setting>
    <setting id="DoodStreamResolver_enabled">true</setting>
    <setting id="DoodStreamResolver_login">true</setting>
    <setting id="DoodStreamResolver_priority">100</setting>
    <setting id="DownaceResolver_enabled">true</setting>
    <setting id="DownaceResolver_login">true</setting>
    <setting id="DownaceResolver_priority">100</setting>
    <setting id="EarnVideosResolver_enabled" default="true">true</setting>
    <setting id="EarnVideosResolver_login" default="true">true</setting>
    <setting id="EarnVideosResolver_priority" default="true">100</setting>
    <setting id="EcostreamResolver_enabled" default="true">true</setting>
    <setting id="EcostreamResolver_login" default="true">true</setting>
    <setting id="EcostreamResolver_priority" default="true">100</setting>
    <setting id="EnterVideoResolver_enabled">true</setting>
    <setting id="EnterVideoResolver_login">true</setting>
    <setting id="EnterVideoResolver_priority">100</setting>
    <setting id="EstreamResolver_enabled" default="true">true</setting>
    <setting id="EstreamResolver_login" default="true">true</setting>
    <setting id="EstreamResolver_priority" default="true">100</setting>
    <setting id="FacebookResolver_enabled">true</setting>
    <setting id="FacebookResolver_login">true</setting>
    <setting id="FacebookResolver_priority">100</setting>
    <setting id="FacebookResolver_quality" default="true">0</setting>
    <setting id="FastplayResolver_enabled">true</setting>
    <setting id="FastplayResolver_login">true</setting>
    <setting id="FastplayResolver_priority">100</setting>
    <setting id="FembedResolver_enabled">true</setting>
    <setting id="FembedResolver_login">true</setting>
    <setting id="FembedResolver_priority">100</setting>
    <setting id="FileBeboResolver_enabled" default="true">true</setting>
    <setting id="FileBeboResolver_login" default="true">true</setting>
    <setting id="FileBeboResolver_priority" default="true">100</setting>
    <setting id="FilePupResolver_enabled">true</setting>
    <setting id="FilePupResolver_login">true</setting>
    <setting id="FilePupResolver_priority">100</setting>
    <setting id="FileWeedResolver_enabled" default="true">true</setting>
    <setting id="FileWeedResolver_login" default="true">true</setting>
    <setting id="FileWeedResolver_priority" default="true">100</setting>
    <setting id="FilezResolver_enabled" default="true">true</setting>
    <setting id="FilezResolver_login" default="true">true</setting>
    <setting id="FilezResolver_priority" default="true">100</setting>
    <setting id="FlashxResolver_enabled">true</setting>
    <setting id="FlashxResolver_login">true</setting>
    <setting id="FlashxResolver_priority">100</setting>
    <setting id="FlixtorResolver_enabled" default="true">true</setting>
    <setting id="FlixtorResolver_login" default="true">true</setting>
    <setting id="FlixtorResolver_priority" default="true">100</setting>
    <setting id="GamoVideoResolver_enabled">true</setting>
    <setting id="GamoVideoResolver_login">true</setting>
    <setting id="GamoVideoResolver_priority">100</setting>
    <setting id="GofileResolver_enabled">true</setting>
    <setting id="GofileResolver_login">true</setting>
    <setting id="GofileResolver_priority">100</setting>
    <setting id="GoFlickerResolver_enabled" default="true">true</setting>
    <setting id="GoFlickerResolver_login" default="true">true</setting>
    <setting id="GoFlickerResolver_priority" default="true">100</setting>
    <setting id="GoodVideoHostResolver_enabled" default="true">true</setting>
    <setting id="GoodVideoHostResolver_login" default="true">true</setting>
    <setting id="GoodVideoHostResolver_priority" default="true">100</setting>
    <setting id="GoogleResolver_enabled">true</setting>
    <setting id="GoogleResolver_login">true</setting>
    <setting id="GoogleResolver_priority">100</setting>
    <setting id="GoogleResolver_use_gdrive" default="true">false</setting>
    <setting id="GorillavidResolver_enabled" default="true">true</setting>
    <setting id="GorillavidResolver_login" default="true">true</setting>
    <setting id="GorillavidResolver_priority" default="true">100</setting>
    <setting id="GoUnlimitedResolver_enabled">true</setting>
    <setting id="GoUnlimitedResolver_login">true</setting>
    <setting id="GoUnlimitedResolver_priority">100</setting>
    <setting id="GrifthostResolver_enabled">true</setting>
    <setting id="GrifthostResolver_login">true</setting>
    <setting id="GrifthostResolver_priority">100</setting>
    <setting id="H265Resolver_enabled" default="true">true</setting>
    <setting id="H265Resolver_login" default="true">true</setting>
    <setting id="H265Resolver_priority" default="true">100</setting>
    <setting id="HDvidResolver_enabled">true</setting>
    <setting id="HDvidResolver_login">true</setting>
    <setting id="HDvidResolver_priority">100</setting>
    <setting id="HolaVidResolver_enabled">true</setting>
    <setting id="HolaVidResolver_login">true</setting>
    <setting id="HolaVidResolver_priority">100</setting>
    <setting id="HugefilesResolver_enabled">true</setting>
    <setting id="HugefilesResolver_login">true</setting>
    <setting id="HugefilesResolver_priority">100</setting>
    <setting id="HXLoadResolver_enabled">true</setting>
    <setting id="HXLoadResolver_login">true</setting>
    <setting id="HXLoadResolver_priority">100</setting>
    <setting id="IDupResolver_enabled">true</setting>
    <setting id="IDupResolver_login">true</setting>
    <setting id="IDupResolver_priority">100</setting>
    <setting id="IndavideoResolver_enabled">true</setting>
    <setting id="IndavideoResolver_login">true</setting>
    <setting id="IndavideoResolver_priority">100</setting>
    <setting id="IRShareResolver_enabled">true</setting>
    <setting id="IRShareResolver_login">true</setting>
    <setting id="IRShareResolver_priority">100</setting>
    <setting id="JetloadResolver_enabled">true</setting>
    <setting id="JetloadResolver_login">true</setting>
    <setting id="JetloadResolver_priority">100</setting>
    <setting id="KhatriResolver_enabled">true</setting>
    <setting id="KhatriResolver_login">true</setting>
    <setting id="KhatriResolver_priority">100</setting>
    <setting id="KingFilesResolver_enabled" default="true">true</setting>
    <setting id="KingFilesResolver_login" default="true">true</setting>
    <setting id="KingFilesResolver_priority" default="true">100</setting>
    <setting id="KingvidResolver_enabled" default="true">true</setting>
    <setting id="KingvidResolver_login" default="true">true</setting>
    <setting id="KingvidResolver_priority" default="true">100</setting>
    <setting id="last_ua_create">1587910465</setting>
    <setting id="LewdHostResolver_enabled">true</setting>
    <setting id="LewdHostResolver_login">true</setting>
    <setting id="LewdHostResolver_priority">100</setting>
    <setting id="LiiVideoResolver_enabled">true</setting>
    <setting id="LiiVideoResolver_login">true</setting>
    <setting id="LiiVideoResolver_priority">100</setting>
    <setting id="LinksnappyResolver_auth" default="true"></setting>
    <setting id="LinksnappyResolver_cached_files_only" default="true">false</setting>
    <setting id="LinksnappyResolver_cached_only">true</setting>
    <setting id="LinksnappyResolver_enabled">true</setting>
    <setting id="LinksnappyResolver_expiration_timestamp" default="true"></setting>
    <setting id="LinksnappyResolver_login">true</setting>
    <setting id="LinksnappyResolver_password" default="true"></setting>
    <setting id="LinksnappyResolver_priority">100</setting>
    <setting id="LinksnappyResolver_reset" default="true"></setting>
    <setting id="LinksnappyResolver_torrents">true</setting>
    <setting id="LinksnappyResolver_username" default="true"></setting>
    <setting id="LiveLeakResolver_enabled">true</setting>
    <setting id="LiveLeakResolver_login">true</setting>
    <setting id="LiveLeakResolver_priority">100</setting>
    <setting id="LolzorResolver_enabled" default="true">true</setting>
    <setting id="LolzorResolver_login" default="true">true</setting>
    <setting id="LolzorResolver_priority" default="true">100</setting>
    <setting id="MailRuResolver_enabled">true</setting>
    <setting id="MailRuResolver_login">true</setting>
    <setting id="MailRuResolver_priority">100</setting>
    <setting id="MegaDebridResolver_enabled">true</setting>
    <setting id="MegaDebridResolver_login" default="true">false</setting>
    <setting id="MegaDebridResolver_password" default="true"></setting>
    <setting id="MegaDebridResolver_priority">100</setting>
    <setting id="MegaDebridResolver_use_https">true</setting>
    <setting id="MegaDebridResolver_username" default="true"></setting>
    <setting id="MegaMP4Resolver_enabled" default="true">true</setting>
    <setting id="MegaMP4Resolver_login" default="true">true</setting>
    <setting id="MegaMP4Resolver_priority" default="true">100</setting>
    <setting id="MehlizMoviesResolver_enabled" default="true">true</setting>
    <setting id="MehlizMoviesResolver_login" default="true">true</setting>
    <setting id="MehlizMoviesResolver_priority" default="true">100</setting>
    <setting id="MersalaResolver_enabled" default="true">true</setting>
    <setting id="MersalaResolver_login" default="true">true</setting>
    <setting id="MersalaResolver_priority" default="true">100</setting>
    <setting id="MixdropResolver_enabled">true</setting>
    <setting id="MixdropResolver_login">true</setting>
    <setting id="MixdropResolver_priority">100</setting>
    <setting id="MovDivxResolver_enabled">true</setting>
    <setting id="MovDivxResolver_login">true</setting>
    <setting id="MovDivxResolver_priority">100</setting>
    <setting id="MovpodResolver_enabled" default="true">true</setting>
    <setting id="MovpodResolver_login" default="true">true</setting>
    <setting id="MovpodResolver_priority" default="true">100</setting>
    <setting id="MovshareResolver_enabled" default="true">true</setting>
    <setting id="MovshareResolver_login" default="true">true</setting>
    <setting id="MovshareResolver_priority" default="true">100</setting>
    <setting id="Mp4streamResolver_enabled" default="true">true</setting>
    <setting id="Mp4streamResolver_login" default="true">true</setting>
    <setting id="Mp4streamResolver_priority" default="true">100</setting>
    <setting id="Mp4uploadResolver_enabled">true</setting>
    <setting id="Mp4uploadResolver_login">true</setting>
    <setting id="Mp4uploadResolver_priority">100</setting>
    <setting id="MycloudResolver_enabled">true</setting>
    <setting id="MycloudResolver_login">true</setting>
    <setting id="MycloudResolver_priority">100</setting>
    <setting id="MystreamResolver_enabled">true</setting>
    <setting id="MystreamResolver_login">true</setting>
    <setting id="MystreamResolver_priority">100</setting>
    <setting id="myUpload_enabled">true</setting>
    <setting id="myUpload_login">true</setting>
    <setting id="myUpload_priority">100</setting>
    <setting id="myVidStream_enabled" default="true">true</setting>
    <setting id="myVidStream_login" default="true">true</setting>
    <setting id="myVidStream_priority" default="true">100</setting>
    <setting id="MyviRuResolver_enabled">true</setting>
    <setting id="MyviRuResolver_login">true</setting>
    <setting id="MyviRuResolver_priority">100</setting>
    <setting id="NineXplayResolver_enabled" default="true">true</setting>
    <setting id="NineXplayResolver_login" default="true">true</setting>
    <setting id="NineXplayResolver_priority" default="true">100</setting>
    <setting id="NovamovResolver_enabled" default="true">true</setting>
    <setting id="NovamovResolver_login" default="true">true</setting>
    <setting id="NovamovResolver_priority" default="true">100</setting>
    <setting id="NowvideoResolver_enabled" default="true">true</setting>
    <setting id="NowvideoResolver_login" default="true">true</setting>
    <setting id="NowvideoResolver_priority" default="true">100</setting>
    <setting id="NxloadResolver_enabled">true</setting>
    <setting id="NxloadResolver_login">true</setting>
    <setting id="NxloadResolver_priority">100</setting>
    <setting id="OcloudResolver_enabled" default="true">true</setting>
    <setting id="OcloudResolver_login" default="true">true</setting>
    <setting id="OcloudResolver_priority" default="true">100</setting>
    <setting id="OKResolver_enabled">true</setting>
    <setting id="OKResolver_login">true</setting>
    <setting id="OKResolver_priority">100</setting>
    <setting id="OneloadResolver_enabled">true</setting>
    <setting id="OneloadResolver_login">true</setting>
    <setting id="OneloadResolver_priority">100</setting>
    <setting id="OnlyStreamResolver_enabled">true</setting>
    <setting id="OnlyStreamResolver_login">true</setting>
    <setting id="OnlyStreamResolver_priority">100</setting>
    <setting id="OpenLoadResolver_auto_update" default="true">true</setting>
    <setting id="OpenLoadResolver_enabled" default="true">true</setting>
    <setting id="OpenLoadResolver_etag" default="true"></setting>
    <setting id="OpenLoadResolver_key" default="true"></setting>
    <setting id="OpenLoadResolver_login" default="true">true</setting>
    <setting id="OpenLoadResolver_priority" default="true">100</setting>
    <setting id="OpenLoadResolver_url" default="true"></setting>
    <setting id="personal_nid" default="true"></setting>
    <setting id="PixelDrainResolver_enabled">true</setting>
    <setting id="PixelDrainResolver_login">true</setting>
    <setting id="PixelDrainResolver_priority">100</setting>
    <setting id="PKSpeedResolver_enabled">true</setting>
    <setting id="PKSpeedResolver_login">true</setting>
    <setting id="PKSpeedResolver_priority">100</setting>
    <setting id="Play44Resolver_enabled" default="true">true</setting>
    <setting id="Play44Resolver_login" default="true">true</setting>
    <setting id="Play44Resolver_priority" default="true">100</setting>
    <setting id="PlayedtoResolver_enabled">true</setting>
    <setting id="PlayedtoResolver_login">true</setting>
    <setting id="PlayedtoResolver_priority">100</setting>
    <setting id="PlayHDResolver_enabled" default="true">true</setting>
    <setting id="PlayHDResolver_login" default="true">true</setting>
    <setting id="PlayHDResolver_priority" default="true">100</setting>
    <setting id="PlayWireResolver_enabled">true</setting>
    <setting id="PlayWireResolver_login">true</setting>
    <setting id="PlayWireResolver_priority">100</setting>
    <setting id="PowVideoResolver_enabled">true</setting>
    <setting id="PowVideoResolver_login">true</setting>
    <setting id="PowVideoResolver_priority">100</setting>
    <setting id="PremiumizeMeResolver_auth" default="true"></setting>
    <setting id="PremiumizeMeResolver_cached_only" default="true">false</setting>
    <setting id="PremiumizeMeResolver_enabled">true</setting>
    <setting id="PremiumizeMeResolver_login">false</setting>
    <setting id="PremiumizeMeResolver_password" default="true"></setting>
    <setting id="PremiumizeMeResolver_priority">100</setting>
    <setting id="PremiumizeMeResolver_reset" default="true"></setting>
    <setting id="PremiumizeMeResolver_token" default="true"></setting>
    <setting id="PremiumizeMeResolver_torrents">true</setting>
    <setting id="PremiumizeMeResolver_use_https" default="true">true</setting>
    <setting id="PremiumizeMeResolver_username" default="true"></setting>
    <setting id="PrimeVideosResolver_enabled">true</setting>
    <setting id="PrimeVideosResolver_login">true</setting>
    <setting id="PrimeVideosResolver_priority">100</setting>
    <setting id="PromptfileResolver_enabled" default="true">true</setting>
    <setting id="PromptfileResolver_login" default="true">true</setting>
    <setting id="PromptfileResolver_priority" default="true">100</setting>
    <setting id="ProStreamResolver_enabled">true</setting>
    <setting id="ProStreamResolver_login">true</setting>
    <setting id="ProStreamResolver_priority">100</setting>
    <setting id="PureVidResolver_enabled" default="true">true</setting>
    <setting id="PureVidResolver_login" default="true">false</setting>
    <setting id="PureVidResolver_password" default="true"></setting>
    <setting id="PureVidResolver_priority" default="true">100</setting>
    <setting id="PureVidResolver_quality" default="true">Maximum</setting>
    <setting id="PureVidResolver_username" default="true"></setting>
    <setting id="PutLoadResolver_enabled">true</setting>
    <setting id="PutLoadResolver_login">true</setting>
    <setting id="PutLoadResolver_priority">100</setting>
    <setting id="PutVidResolver_enabled" default="true">true</setting>
    <setting id="PutVidResolver_login" default="true">true</setting>
    <setting id="PutVidResolver_priority" default="true">100</setting>
    <setting id="RapidgatorResolver_enabled">false</setting>
    <setting id="RapidgatorResolver_login" default="true">false</setting>
    <setting id="RapidgatorResolver_password" default="true"></setting>
    <setting id="RapidgatorResolver_premium" default="true">false</setting>
    <setting id="RapidgatorResolver_priority">100</setting>
    <setting id="RapidgatorResolver_session_id" default="true"></setting>
    <setting id="RapidgatorResolver_username" default="true"></setting>
    <setting id="RapidVideoResolver_enabled" default="true">true</setting>
    <setting id="RapidVideoResolver_login" default="true">true</setting>
    <setting id="RapidVideoResolver_priority" default="true">100</setting>
    <setting id="RealDebridResolver_auth" default="true"></setting>
    <setting id="RealDebridResolver_autopick" default="true">false</setting>
    <setting id="RealDebridResolver_cached_only" default="true">false</setting>
    <setting id="RealDebridResolver_client_id">NGYISMV6J32KM</setting>
    <setting id="RealDebridResolver_client_secret">a9bbe029767c35f6b45034785b733d285ca6cae5</setting>
    <setting id="RealDebridResolver_enabled">true</setting>
    <setting id="RealDebridResolver_login">true</setting>
    <setting id="RealDebridResolver_priority">100</setting>
    <setting id="RealDebridResolver_refresh">MZI66EERIFMJBMZDQFGRFUCHXUMEXX25W2EXHXAQ7OJNCDZHWSMA</setting>
    <setting id="RealDebridResolver_reset" default="true"></setting>
    <setting id="RealDebridResolver_token">ADA2FSMV5N6EJDDP6C6WTQJZSCURCRDAEFC64W44KVVRBJ3EUPRA</setting>
    <setting id="RealDebridResolver_torrents">true</setting>
    <setting id="reset_cache" default="true"></setting>
    <setting id="ResolveGeneric_enabled">true</setting>
    <setting id="ResolveGeneric_login">true</setting>
    <setting id="ResolveGeneric_priority">100</setting>
    <setting id="RPnetResolver_enabled">true</setting>
    <setting id="RPnetResolver_login" default="true">false</setting>
    <setting id="RPnetResolver_password" default="true"></setting>
    <setting id="RPnetResolver_priority">100</setting>
    <setting id="RPnetResolver_username" default="true"></setting>
    <setting id="RuTubeResolver_enabled">true</setting>
    <setting id="RuTubeResolver_login">true</setting>
    <setting id="RuTubeResolver_priority">100</setting>
    <setting id="SapoResolver_enabled">true</setting>
    <setting id="SapoResolver_login">true</setting>
    <setting id="SapoResolver_priority">100</setting>
    <setting id="SaruchResolver_enabled">true</setting>
    <setting id="SaruchResolver_login">true</setting>
    <setting id="SaruchResolver_priority">100</setting>
    <setting id="SendVidResolver_enabled">true</setting>
    <setting id="SendVidResolver_login">true</setting>
    <setting id="SendVidResolver_priority">100</setting>
    <setting id="SibnetResolver_enabled">true</setting>
    <setting id="SibnetResolver_login">true</setting>
    <setting id="SibnetResolver_priority">100</setting>
    <setting id="SimplyDebridResolver_enabled">true</setting>
    <setting id="SimplyDebridResolver_login" default="true">false</setting>
    <setting id="SimplyDebridResolver_password" default="true"></setting>
    <setting id="SimplyDebridResolver_priority">100</setting>
    <setting id="SimplyDebridResolver_username" default="true"></setting>
    <setting id="SmoozedResolver_email" default="true"></setting>
    <setting id="SmoozedResolver_enabled">true</setting>
    <setting id="SmoozedResolver_login">true</setting>
    <setting id="SmoozedResolver_password" default="true"></setting>
    <setting id="SmoozedResolver_priority">100</setting>
    <setting id="SmoozedResolver_session_key" default="true"></setting>
    <setting id="SpeedPlayResolver_enabled" default="true">true</setting>
    <setting id="SpeedPlayResolver_login" default="true">true</setting>
    <setting id="SpeedPlayResolver_priority" default="true">100</setting>
    <setting id="SpeedVideoResolver_enabled">true</setting>
    <setting id="SpeedVideoResolver_login">true</setting>
    <setting id="SpeedVideoResolver_priority">100</setting>
    <setting id="SpeedVidResolver_auto_update">true</setting>
    <setting id="SpeedVidResolver_enabled">true</setting>
    <setting id="SpeedVidResolver_etag" default="true"></setting>
    <setting id="SpeedVidResolver_login">true</setting>
    <setting id="SpeedVidResolver_priority">100</setting>
    <setting id="SpeedWatchResolver_enabled">true</setting>
    <setting id="SpeedWatchResolver_login">true</setting>
    <setting id="SpeedWatchResolver_priority">100</setting>
    <setting id="SprutoResolver_enabled" default="true">true</setting>
    <setting id="SprutoResolver_login" default="true">true</setting>
    <setting id="SprutoResolver_priority" default="true">100</setting>
    <setting id="SsfilesResolver_enabled">true</setting>
    <setting id="SsfilesResolver_login">true</setting>
    <setting id="SsfilesResolver_priority">100</setting>
    <setting id="StreamableResolver_enabled">true</setting>
    <setting id="StreamableResolver_login">true</setting>
    <setting id="StreamableResolver_priority">100</setting>
    <setting id="StreamangoResolver_enabled" default="true">true</setting>
    <setting id="StreamangoResolver_login" default="true">true</setting>
    <setting id="StreamangoResolver_priority" default="true">100</setting>
    <setting id="StreamcloudResolver_enabled" default="true">true</setting>
    <setting id="StreamcloudResolver_login" default="true">true</setting>
    <setting id="StreamcloudResolver_priority" default="true">100</setting>
    <setting id="StreameResolver_enabled">true</setting>
    <setting id="StreameResolver_login">true</setting>
    <setting id="StreameResolver_priority">100</setting>
    <setting id="StreamGoResolver_enabled" default="true">true</setting>
    <setting id="StreamGoResolver_login" default="true">true</setting>
    <setting id="StreamGoResolver_priority" default="true">100</setting>
    <setting id="StreamintoResolver_enabled" default="true">true</setting>
    <setting id="StreamintoResolver_login" default="true">true</setting>
    <setting id="StreamintoResolver_priority" default="true">100</setting>
    <setting id="StreamMoeResolver_enabled">true</setting>
    <setting id="StreamMoeResolver_login">true</setting>
    <setting id="StreamMoeResolver_priority">100</setting>
    <setting id="StreamplayResolver_enabled">true</setting>
    <setting id="StreamplayResolver_login">true</setting>
    <setting id="StreamplayResolver_priority">100</setting>
    <setting id="StreamtyResolver_enabled">true</setting>
    <setting id="StreamtyResolver_login">true</setting>
    <setting id="StreamtyResolver_priority">100</setting>
    <setting id="StreamvidResolver_enabled">true</setting>
    <setting id="StreamvidResolver_login">true</setting>
    <setting id="StreamvidResolver_priority">100</setting>
    <setting id="StreamWireResolver_enabled">true</setting>
    <setting id="StreamWireResolver_login">true</setting>
    <setting id="StreamWireResolver_priority">100</setting>
    <setting id="StreamzResolver_enabled">true</setting>
    <setting id="StreamzResolver_login">true</setting>
    <setting id="StreamzResolver_priority">100</setting>
    <setting id="SuperITUResolver_enabled">true</setting>
    <setting id="SuperITUResolver_login">true</setting>
    <setting id="SuperITUResolver_priority">100</setting>
    <setting id="SuperVideoResolver_enabled">true</setting>
    <setting id="SuperVideoResolver_login">true</setting>
    <setting id="SuperVideoResolver_priority">100</setting>
    <setting id="SyFyResolver_enabled">true</setting>
    <setting id="SyFyResolver_login">true</setting>
    <setting id="SyFyResolver_priority">100</setting>
    <setting id="TeramixerResolver_enabled" default="true">true</setting>
    <setting id="TeramixerResolver_login" default="true">true</setting>
    <setting id="TeramixerResolver_priority" default="true">100</setting>
    <setting id="TheVideoResolver_enabled" default="true">true</setting>
    <setting id="TheVideoResolver_login" default="true">true</setting>
    <setting id="TheVideoResolver_priority" default="true">100</setting>
    <setting id="TheVideosResolver_enabled" default="true">true</setting>
    <setting id="TheVideosResolver_login" default="true">true</setting>
    <setting id="TheVideosResolver_priority" default="true">100</setting>
    <setting id="TheVidResolver_auto_update">true</setting>
    <setting id="TheVidResolver_enabled">true</setting>
    <setting id="TheVidResolver_etag" default="true"></setting>
    <setting id="TheVidResolver_login">true</setting>
    <setting id="TheVidResolver_priority">100</setting>
    <setting id="ToCloudResolver_enabled">true</setting>
    <setting id="ToCloudResolver_login">true</setting>
    <setting id="ToCloudResolver_priority">100</setting>
    <setting id="Toltsd_felResolver_enabled">true</setting>
    <setting id="Toltsd_felResolver_login">true</setting>
    <setting id="Toltsd_felResolver_priority">100</setting>
    <setting id="TrollVidResolver_enabled">true</setting>
    <setting id="TrollVidResolver_login">true</setting>
    <setting id="TrollVidResolver_priority">100</setting>
    <setting id="trtResolver_enabled" default="true">true</setting>
    <setting id="trtResolver_login" default="true">true</setting>
    <setting id="trtResolver_priority" default="true">100</setting>
    <setting id="TruHDResolver_enabled">true</setting>
    <setting id="TruHDResolver_login">true</setting>
    <setting id="TruHDResolver_priority">100</setting>
    <setting id="TubiTvResolver_enabled">true</setting>
    <setting id="TubiTvResolver_login">true</setting>
    <setting id="TubiTvResolver_priority">100</setting>
    <setting id="TudouResolver_enabled">true</setting>
    <setting id="TudouResolver_login">true</setting>
    <setting id="TudouResolver_priority">100</setting>
    <setting id="TunePkResolver_enabled">true</setting>
    <setting id="TunePkResolver_login">true</setting>
    <setting id="TunePkResolver_priority">100</setting>
    <setting id="TunePkResolver_quality" default="true">0</setting>
    <setting id="TusfilesResolver_enabled">true</setting>
    <setting id="TusfilesResolver_login">true</setting>
    <setting id="TusfilesResolver_priority">100</setting>
    <setting id="TVLogyResolver_enabled">true</setting>
    <setting id="TVLogyResolver_login">true</setting>
    <setting id="TVLogyResolver_priority">100</setting>
    <setting id="TwitchResolver_client_id" default="true">am6l6dn0x3bxrdgc557p1qeg1ma3bto</setting>
    <setting id="TwitchResolver_enabled">true</setting>
    <setting id="TwitchResolver_login">true</setting>
    <setting id="TwitchResolver_priority">100</setting>
    <setting id="UnitPlayResolver_enabled">true</setting>
    <setting id="UnitPlayResolver_login">true</setting>
    <setting id="UnitPlayResolver_priority">100</setting>
    <setting id="UpFilesResolver_enabled">true</setting>
    <setting id="UpFilesResolver_login">true</setting>
    <setting id="UpFilesResolver_priority">100</setting>
    <setting id="UploadAfResolver_enabled" default="true">true</setting>
    <setting id="UploadAfResolver_login" default="true">true</setting>
    <setting id="UploadAfResolver_priority" default="true">100</setting>
    <setting id="UploadXResolver_enabled" default="true">true</setting>
    <setting id="UploadXResolver_login" default="true">true</setting>
    <setting id="UploadXResolver_priority" default="true">100</setting>
    <setting id="UploadzResolver_enabled" default="true">true</setting>
    <setting id="UploadzResolver_login" default="true">true</setting>
    <setting id="UploadzResolver_priority" default="true">100</setting>
    <setting id="UpStreamResolver_enabled">true</setting>
    <setting id="UpStreamResolver_login">true</setting>
    <setting id="UpStreamResolver_priority">100</setting>
    <setting id="UpToBoxResolver_enabled">true</setting>
    <setting id="UpToBoxResolver_login">true</setting>
    <setting id="UpToBoxResolver_priority">100</setting>
    <setting id="UQloadResolver_enabled">true</setting>
    <setting id="UQloadResolver_login">true</setting>
    <setting id="UQloadResolver_priority">100</setting>
    <setting id="use_cache">true</setting>
    <setting id="UsersCloudResolver_enabled">true</setting>
    <setting id="UsersCloudResolver_login">true</setting>
    <setting id="UsersCloudResolver_priority">100</setting>
    <setting id="UsersFilesResolver_enabled">true</setting>
    <setting id="UsersFilesResolver_login">true</setting>
    <setting id="UsersFilesResolver_priority">100</setting>
    <setting id="uStreamResolver_enabled">true</setting>
    <setting id="uStreamResolver_login">true</setting>
    <setting id="uStreamResolver_priority">100</setting>
    <setting id="VeeHDResolver_enabled">true</setting>
    <setting id="VeeHDResolver_login" default="true">false</setting>
    <setting id="VeeHDResolver_password" default="true"></setting>
    <setting id="VeeHDResolver_priority">100</setting>
    <setting id="VeeHDResolver_username" default="true"></setting>
    <setting id="VeohResolver_enabled">true</setting>
    <setting id="VeohResolver_login">true</setting>
    <setting id="VeohResolver_priority">100</setting>
    <setting id="VeryStreamResolver_enabled">true</setting>
    <setting id="VeryStreamResolver_login">true</setting>
    <setting id="VeryStreamResolver_priority">100</setting>
    <setting id="VevIoResolver_enabled">true</setting>
    <setting id="VevIoResolver_login">true</setting>
    <setting id="VevIoResolver_priority">100</setting>
    <setting id="VidabcResolver_enabled" default="true">true</setting>
    <setting id="VidabcResolver_login" default="true">true</setting>
    <setting id="VidabcResolver_priority" default="true">100</setting>
    <setting id="VidbobResolver_enabled">true</setting>
    <setting id="VidbobResolver_login">true</setting>
    <setting id="VidbobResolver_priority">100</setting>
    <setting id="VidBomResolver_enabled">true</setting>
    <setting id="VidBomResolver_login">true</setting>
    <setting id="VidBomResolver_priority">100</setting>
    <setting id="VidCloud9Resolver_enabled">true</setting>
    <setting id="VidCloud9Resolver_login">true</setting>
    <setting id="VidCloud9Resolver_priority">100</setting>
    <setting id="VidCloudResolver_enabled">true</setting>
    <setting id="VidCloudResolver_login">true</setting>
    <setting id="VidCloudResolver_priority">100</setting>
    <setting id="VidCrazyResolver_enabled" default="true">true</setting>
    <setting id="VidCrazyResolver_login" default="true">true</setting>
    <setting id="VidCrazyResolver_priority" default="true">100</setting>
    <setting id="VideaResolver_enabled">true</setting>
    <setting id="VideaResolver_login">true</setting>
    <setting id="VideaResolver_priority">100</setting>
    <setting id="VideoBeeResolver_enabled">true</setting>
    <setting id="VideoBeeResolver_login">true</setting>
    <setting id="VideoBeeResolver_priority">100</setting>
    <setting id="VideobinResolver_enabled">true</setting>
    <setting id="VideobinResolver_login">true</setting>
    <setting id="VideobinResolver_priority">100</setting>
    <setting id="VideocloudResolver_enabled" default="true">true</setting>
    <setting id="VideocloudResolver_login" default="true">true</setting>
    <setting id="VideocloudResolver_priority" default="true">100</setting>
    <setting id="VideogetResolver_enabled" default="true">true</setting>
    <setting id="VideogetResolver_login" default="true">true</setting>
    <setting id="VideogetResolver_priority" default="true">100</setting>
    <setting id="VideoHost2Resolver_enabled">true</setting>
    <setting id="VideoHost2Resolver_login">true</setting>
    <setting id="VideoHost2Resolver_priority">100</setting>
    <setting id="VideoHutResolver_enabled" default="true">true</setting>
    <setting id="VideoHutResolver_login" default="true">true</setting>
    <setting id="VideoHutResolver_priority" default="true">100</setting>
    <setting id="VideoRajResolver_enabled" default="true">true</setting>
    <setting id="VideoRajResolver_login" default="true">true</setting>
    <setting id="VideoRajResolver_priority" default="true">100</setting>
    <setting id="VideoweedResolver_enabled" default="true">true</setting>
    <setting id="VideoweedResolver_login" default="true">true</setting>
    <setting id="VideoweedResolver_priority" default="true">100</setting>
    <setting id="VideowoodResolver_enabled">true</setting>
    <setting id="VideowoodResolver_login">true</setting>
    <setting id="VideowoodResolver_priority">100</setting>
    <setting id="VideoZooResolver_enabled">true</setting>
    <setting id="VideoZooResolver_login">true</setting>
    <setting id="VideoZooResolver_priority">100</setting>
    <setting id="VideozResolver_enabled">true</setting>
    <setting id="VideozResolver_login">true</setting>
    <setting id="VideozResolver_priority">100</setting>
    <setting id="VideozUpload_enabled">true</setting>
    <setting id="VideozUpload_login">true</setting>
    <setting id="VideozUpload_priority">100</setting>
    <setting id="VidFastResolver_enabled">true</setting>
    <setting id="VidFastResolver_login">true</setting>
    <setting id="VidFastResolver_priority">100</setting>
    <setting id="VidFileResolver_enabled">true</setting>
    <setting id="VidFileResolver_login">true</setting>
    <setting id="VidFileResolver_priority">100</setting>
    <setting id="vidhosResolver_enabled" default="true">true</setting>
    <setting id="vidhosResolver_login" default="true">true</setting>
    <setting id="vidhosResolver_priority" default="true">100</setting>
    <setting id="VidiaResolver_enabled">true</setting>
    <setting id="VidiaResolver_login">true</setting>
    <setting id="VidiaResolver_priority">100</setting>
    <setting id="VidicsResolver_enabled" default="true">true</setting>
    <setting id="VidicsResolver_login" default="true">true</setting>
    <setting id="VidicsResolver_priority" default="true">100</setting>
    <setting id="VidloxResolver_enabled">true</setting>
    <setting id="VidloxResolver_login">true</setting>
    <setting id="VidloxResolver_priority">100</setting>
    <setting id="VidMadResolver_enabled">true</setting>
    <setting id="VidMadResolver_login">true</setting>
    <setting id="VidMadResolver_priority">100</setting>
    <setting id="VidMeResolver_enabled" default="true">true</setting>
    <setting id="VidMeResolver_login" default="true">true</setting>
    <setting id="VidMeResolver_priority" default="true">100</setting>
    <setting id="VidnodeResolver_enabled">true</setting>
    <setting id="VidnodeResolver_login">true</setting>
    <setting id="VidnodeResolver_priority">100</setting>
    <setting id="VidorgResolver_enabled">true</setting>
    <setting id="VidorgResolver_login">true</setting>
    <setting id="VidorgResolver_priority">100</setting>
    <setting id="VidozaResolver_enabled">true</setting>
    <setting id="VidozaResolver_login">true</setting>
    <setting id="VidozaResolver_priority">100</setting>
    <setting id="VidspaceResolve_enabled">true</setting>
    <setting id="VidspaceResolve_login">true</setting>
    <setting id="VidspaceResolve_priority">100</setting>
    <setting id="VidstoreResolver_enabled">true</setting>
    <setting id="VidstoreResolver_login">true</setting>
    <setting id="VidstoreResolver_priority">100</setting>
    <setting id="VidStreamingResolver_enabled">true</setting>
    <setting id="VidStreamingResolver_login">true</setting>
    <setting id="VidStreamingResolver_priority">100</setting>
    <setting id="VidToDoResolver_enabled">true</setting>
    <setting id="VidToDoResolver_login">true</setting>
    <setting id="VidToDoResolver_priority">100</setting>
    <setting id="VidtoResolver_enabled">true</setting>
    <setting id="VidtoResolver_login">true</setting>
    <setting id="VidtoResolver_priority">100</setting>
    <setting id="VidUpMeResolver_enabled">true</setting>
    <setting id="VidUpMeResolver_login">true</setting>
    <setting id="VidUpMeResolver_priority">100</setting>
    <setting id="VidUpResolver_enabled" default="true">true</setting>
    <setting id="VidUpResolver_login" default="true">true</setting>
    <setting id="VidUpResolver_priority" default="true">100</setting>
    <setting id="VidwatchResolver_enabled">true</setting>
    <setting id="VidwatchResolver_login">true</setting>
    <setting id="VidwatchResolver_priority">100</setting>
    <setting id="VidZellaResolver_enabled" default="true">true</setting>
    <setting id="VidZellaResolver_login" default="true">true</setting>
    <setting id="VidZellaResolver_priority" default="true">100</setting>
    <setting id="VidziResolver_enabled">true</setting>
    <setting id="VidziResolver_login">true</setting>
    <setting id="VidziResolver_priority">100</setting>
    <setting id="VimeoResolver_enabled">true</setting>
    <setting id="VimeoResolver_login">true</setting>
    <setting id="VimeoResolver_priority">100</setting>
    <setting id="ViuclipsResolver_enabled">true</setting>
    <setting id="ViuclipsResolver_login">true</setting>
    <setting id="ViuclipsResolver_priority">100</setting>
    <setting id="VivosxResolver_enabled">true</setting>
    <setting id="VivosxResolver_login">true</setting>
    <setting id="VivosxResolver_priority">100</setting>
    <setting id="VkPrimeResolver_enabled">true</setting>
    <setting id="VkPrimeResolver_login">true</setting>
    <setting id="VkPrimeResolver_priority">100</setting>
    <setting id="VKResolver_enabled">true</setting>
    <setting id="VKResolver_login">true</setting>
    <setting id="VKResolver_priority">100</setting>
    <setting id="VKSpeedResolver_enabled">true</setting>
    <setting id="VKSpeedResolver_login">true</setting>
    <setting id="VKSpeedResolver_priority">100</setting>
    <setting id="VlareTVResolver_enabled">true</setting>
    <setting id="VlareTVResolver_login">true</setting>
    <setting id="VlareTVResolver_priority">100</setting>
    <setting id="VodLockResolver_enabled" default="true">true</setting>
    <setting id="VodLockResolver_login" default="true">true</setting>
    <setting id="VodLockResolver_priority" default="true">100</setting>
    <setting id="VshareEuResolver_enabled">true</setting>
    <setting id="VshareEuResolver_login">true</setting>
    <setting id="VshareEuResolver_priority">100</setting>
    <setting id="VshareResolver_enabled">true</setting>
    <setting id="VshareResolver_login">true</setting>
    <setting id="VshareResolver_priority">100</setting>
    <setting id="VuptoResolver_enabled">true</setting>
    <setting id="VuptoResolver_login">true</setting>
    <setting id="VuptoResolver_priority">100</setting>
    <setting id="WaawResolver_enabled">true</setting>
    <setting id="WaawResolver_login">true</setting>
    <setting id="WaawResolver_priority">100</setting>
    <setting id="WatchersResolver_enabled" default="true">true</setting>
    <setting id="WatchersResolver_login" default="true">true</setting>
    <setting id="WatchersResolver_priority" default="true">100</setting>
    <setting id="WatchonlineResolver_enabled" default="true">true</setting>
    <setting id="WatchonlineResolver_login" default="true">true</setting>
    <setting id="WatchonlineResolver_priority" default="true">100</setting>
    <setting id="WatchpassResolver_enabled" default="true">true</setting>
    <setting id="WatchpassResolver_login" default="true">true</setting>
    <setting id="WatchpassResolver_priority" default="true">100</setting>
    <setting id="WatchVideoResolver_enabled">true</setting>
    <setting id="WatchVideoResolver_login">true</setting>
    <setting id="WatchVideoResolver_priority">100</setting>
    <setting id="WeShareResolver_enabled">true</setting>
    <setting id="WeShareResolver_login">true</setting>
    <setting id="WeShareResolver_priority">100</setting>
    <setting id="WstreamResolver_enabled">true</setting>
    <setting id="WstreamResolver_login">true</setting>
    <setting id="WstreamResolver_priority">100</setting>
    <setting id="XStreamCDNResolver_enabled">true</setting>
    <setting id="XStreamCDNResolver_login">true</setting>
    <setting id="XStreamCDNResolver_priority">100</setting>
    <setting id="XvidstageResolver_enabled" default="true">true</setting>
    <setting id="XvidstageResolver_login" default="true">true</setting>
    <setting id="XvidstageResolver_priority" default="true">100</setting>
    <setting id="YandexResolver_enabled">true</setting>
    <setting id="YandexResolver_login">true</setting>
    <setting id="YandexResolver_priority">100</setting>
    <setting id="YourUploadResolver_enabled">true</setting>
    <setting id="YourUploadResolver_login">true</setting>
    <setting id="YourUploadResolver_priority">100</setting>
    <setting id="YoutubeResolver_enabled">true</setting>
    <setting id="YoutubeResolver_login">true</setting>
    <setting id="YoutubeResolver_priority">100</setting>
    <setting id="ZeveraResolver_enabled">true</setting>
    <setting id="ZeveraResolver_login" default="true">false</setting>
    <setting id="ZeveraResolver_password" default="true"></setting>
    <setting id="ZeveraResolver_priority">100</setting>
    <setting id="ZeveraResolver_username" default="true"></setting>
    <setting id="ZstreamResolver_enabled" default="true">true</setting>
    <setting id="ZstreamResolver_login" default="true">true</setting>
    <setting id="ZstreamResolver_priority" default="true">100</setting>
</settings>
