<settings>
    <setting id="noteImage" value="C:\Users\ALSystems\Desktop\Kodi170\portable_data\addons\plugin.program.BRETTUSmessages\art\blank1.png" />
    <setting id="noteMessage" value="[B][COLOR red]Brettus And White Devil Streams[/COLOR][/B]&#x0A;&#x0A;[B]White Devil Streams brought to you by Brettus, Coldkeys And Bamf the Best all in one addon for Kodi[/B]&#x0A;Check out Facebook Group https://www.facebook.com/groups/WhiteDevilStreams/ &#x0A;[B][COLOR fuchsia]JOIN THE GROUP FOR ADULT AREA PASSWORD[/COLOR][/B]&#x0A;Approved Box Seller For Worldwide Shipping Are The Standard INC Please Contact David Arrieta Or Rob Partida .&#x0A;[B]Mention WhiteDevil And Get $50 Off [/B]&#x0A;&#x0A;Brettus Addons Are Free To Use And Always Will Be If You Feel you Want To Donate Please &#x0A;Donate To This PayPal Adress john4551@hotmail.co.uk&#x0A;&#x0A;[B][COLOR red]THANKYOU AND ENJOY THE ADDONS[/COLOR][/B]" />
    <setting id="noteType" value="t" />
    <setting id="notifications-on-startup" value="true" />
</settings>
