<settings>
    <setting id="bitrate" value="7" />
    <setting id="cache-folder" value="" />
    <setting id="defaulthls" value="true" />
    <setting id="defaultrtmp" value="false" />
    <setting id="defaultview" value="2" />
    <setting id="defaultyoutube" value="false" />
    <setting id="enabled-cache" value="false" />
    <setting id="getnewtoken" value="true" />
    <setting id="latitude" value="34.0452" />
    <setting id="login_name" value="" />
    <setting id="login_pass" value="" />
    <setting id="longitude" value="-118.283" />
    <setting id="lyricsubs" value="false" />
    <setting id="perpage" value="3" />
    <setting id="radius" value="2" />
    <setting id="rickroll" value="false" />
    <setting id="unpause" value="true" />
    <setting id="unpausetime" value="4" />
    <setting id="us_proxy" value="" />
    <setting id="us_proxy_enable" value="false" />
    <setting id="us_proxy_pass" value="" />
    <setting id="us_proxy_port" value="" />
    <setting id="us_proxy_user" value="" />
    <setting id="viewenable" value="true" />
</settings>
