<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Fanart.tv">
        <setting type="lsep" label="Extra Art" default="" />
        <setting id="fanart_amble1" label="Become a VIP member at fanart.tv for many benefits." type="text" default="" enable="false" />
        <setting id="get_fanart_data" label="Include Extra Art" type="bool" default="false" />
        <setting id="fanart_client_key" type="text" label="Fanart API Key" default="fe073550acf157bdb8a4217f215c0882" subsetting="true" enable="eq(-1,true)" />
    </category>
    <!--category label="KyraDB">
        <setting type="lsep" label="Animated Movie Posters" default="" />
        <setting id="animated_amble1" label="CAUTION!!! Use at own risk!!!" type="text" default="" enable="false" />
        <setting id="animated_amble2" label="Animated Posters put a HUGE load on Kodi," type="text" default="" enable="false" />
        <setting id="animated_amble3" label="and GIFS will be STORED LOCALLY!" type="text" default="" enable="false" />
        <setting id="animated_amble4" label="Only Use if You Have a Powerful System!" type="text" default="" enable="false" />
        <setting id="get_gif_data" label="Download and Use Animated Movie Posters" type="bool" default="false" />
        <setting id="kyra_api_key" type="text" label="KyraDB API Key" default="58a305946f417e02fd9d80c117aff062" subsetting="true" enable="eq(-1,true)" />
        <setting id="kyra_user_key" type="text" label="KyraDB User Key" default="5b8a78387761619e" subsetting="true" enable="eq(-2,true)" />
    </category-->
    <category label="TMDb">
        <setting type="lsep" label="TMDb" default="" />
        <setting id="tmdb_api" type="text" label="TMDb API Key" default="1b0d3c6ac6a6c0fa87b55a1069d6c9c8" />
    </category>
    <category label="TVDb">
        <setting type="lsep" label="TVDb" default="" />
        <setting id="tvdb_api" type="text" label="TVDb API Key (v2/3 only)" default="905237D822EE21A6" />
        <setting id="clear_tvdb_token" type="action" label="Clear TVDb token (when assigning new API Key)" option="close" subsetting="true" action="RunPlugin(plugin://script.module.tikimeta/?mode=clear_tvdb_token)" />
        <setting id="tvdb.jwtoken" type="text" default="" visible="false" />
        <setting id="tvdb.jwtoken_expiry" type="text" default="" visible="false" />
    </category>
    <category label="Image Resolutions">
        <setting type="lsep" label="Image Resolutions" default="" />
        <setting id="resolutions_amble1" label="Set Resolution for Images." type="text" default="" enable="false" />
        <setting id="resolutions_amble2" label="Lower resolution will display quicker." type="text" default="" enable="false" />
        <setting id="resolutions_amble3" label="Higher resolution will look better." type="text" default="" enable="false" />
        <setting id="resolutions_amble4" label="Clear Metadata Cache after changing setting." type="text" default="" enable="false" />
        <setting id="image_resolutions" label="Resolution" type="enum" default="2" values="Low|Medium|High|Original" />
    </category>
    <category label="Language">
        <setting type="lsep" label="Language" default="" />
        <setting id="meta_language_display" type="action" label="Set language for Metadata" default="English" option="close" action="RunPlugin(plugin://script.module.tikimeta/?mode=set_language)" />
        <setting id="meta_language" label="meta_language" type="text" default="en" visible="hidden" />
    </category>
    <category label="Cache">
        <setting type="lsep" label="Clear Meta Cache" default="" />
        <setting id="clear_meta_cache" type="action" label="Clear Cached Data" option="close" action="RunPlugin(plugin://script.module.tikimeta/?mode=clear_cache)" />
    </category>
</settings>