<settings version="2">
    <setting id="addonid" default="true">plugin.program.totalinstaller</setting>
    <setting id="addonportal" default="true">true</setting>
    <setting id="adult">true</setting>
    <setting id="backupinstall" default="true">false</setting>
    <setting id="cleancache" default="true">false</setting>
    <setting id="communitybuilds" default="true">true</setting>
    <setting id="crashlog" default="true">false</setting>
    <setting id="debug" default="true">false</setting>
    <setting id="dummy" default="true"></setting>
    <setting id="email" default="true"></setting>
    <setting id="enablekeyword" default="true">false</setting>
    <setting id="favourites" default="true">false</setting>
    <setting id="hardwareportal" default="true">true</setting>
    <setting id="internetcheck" default="true">false</setting>
    <setting id="ip_site" default="true">whatismyipaddress.com</setting>
    <setting id="keywordname" default="true"></setting>
    <setting id="keywordpath" default="true"></setting>
    <setting id="latestnews" default="true">true</setting>
    <setting id="localcopy" default="true">false</setting>
    <setting id="login">true</setting>
    <setting id="maintenance" default="true">true</setting>
    <setting id="mastercopy" default="true">false</setting>
    <setting id="oldlog" default="true">false</setting>
    <setting id="password" default="true"></setting>
    <setting id="private" default="true">false</setting>
    <setting id="sources" default="true">false</setting>
    <setting id="tutorial_aftv" default="true">true</setting>
    <setting id="tutorial_all" default="true">true</setting>
    <setting id="tutorial_allwinner" default="true">false</setting>
    <setting id="tutorial_amlogic" default="true">false</setting>
    <setting id="tutorial_android" default="true">true</setting>
    <setting id="tutorial_atv" default="true">false</setting>
    <setting id="tutorial_boxee" default="true">false</setting>
    <setting id="tutorial_intel" default="true">false</setting>
    <setting id="tutorial_ios" default="true">true</setting>
    <setting id="tutorial_kodi" default="true">true</setting>
    <setting id="tutorial_linux" default="true">true</setting>
    <setting id="tutorial_manual_search" default="true">true</setting>
    <setting id="tutorial_openelec" default="true">true</setting>
    <setting id="tutorial_osmc" default="true">false</setting>
    <setting id="tutorial_osx" default="true">true</setting>
    <setting id="tutorial_pure_linux" default="true">true</setting>
    <setting id="tutorial_raspbmc" default="true">false</setting>
    <setting id="tutorial_rockchip" default="true">false</setting>
    <setting id="tutorial_rpi" default="true">false</setting>
    <setting id="tutorial_windows" default="true">true</setting>
    <setting id="tutorial_xbmc4xbox" default="true">false</setting>
    <setting id="tutorial_xbox" default="true">false</setting>
    <setting id="tutorialportal" default="true">true</setting>
    <setting id="username" default="true"></setting>
    <setting id="versionoverride">true</setting>
    <setting id="wizard">true</setting>
    <setting id="wizardname1" default="true"></setting>
    <setting id="wizardname2" default="true"></setting>
    <setting id="wizardname3" default="true"></setting>
    <setting id="wizardname4" default="true"></setting>
    <setting id="wizardname5" default="true"></setting>
    <setting id="wizardurl1" default="true"></setting>
    <setting id="wizardurl2" default="true"></setting>
    <setting id="wizardurl3" default="true"></setting>
    <setting id="wizardurl4" default="true"></setting>
    <setting id="wizardurl5" default="true"></setting>
    <setting id="zip" default="true"></setting>
</settings>
