<settings version="2">
    <setting id="auto_start" default="true">false</setting>
    <setting id="firstrun" default="true">true</setting>
    <setting id="format">2</setting>
    <setting id="last_station_id" default="true"></setting>
    <setting id="logo">true</setting>
    <setting id="pandoraone" default="true">false</setting>
    <setting id="password" default="true"></setting>
    <setting id="proxy_enable" default="true">false</setting>
    <setting id="proxy_pass" default="true"></setting>
    <setting id="proxy_port" default="true">0</setting>
    <setting id="proxy_server" default="true"></setting>
    <setting id="proxy_user" default="true"></setting>
    <setting id="scrobble_hack" default="true">false</setting>
    <setting id="scrobble_hack_time">1</setting>
    <setting id="skin" default="true">Default</setting>
    <setting id="sort_stations" default="true">false</setting>
    <setting id="thumbnailArtwork" default="true">0</setting>
    <setting id="username" default="true"></setting>
</settings>
