<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--<setting id="email" type="text" label="30500"/>-->
    <setting id="email_prompt" type="bool" visible="false" default="false"/>
    <setting id="include_old" type="bool" label="30501" default="false"/>
    <setting id="addon_debug" type="bool" label="Addon Debug" visible="false" default="false"/>
    <setting label="30502" type="lsep"/>
    <!--<setting id="enable_tvaddons" type="bool" label="30503" default="false"/>-->
        <setting id="enable_pastebin" type="bool" label="30505" default="true"/>
        <setting id="enable_ubuntu" type="bool" label="30506" default="true"/>
    <!--<setting id="enable_dropbox" type="bool" label="30504" default="true"/>-->
</settings>
