<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="TURKvod AYARLAR">
        <setting id="downloadonoff" type="bool" label="INDIRME SECENEGI : KAPALI < > AÇIK" default="true" />
	    <setting id="save_location" type="folder"  label="INDIRME KLASORUNU SECIN" default=""/>
        <setting id="serverId" type="enum" label="TURKvod SERVER : " values="1|2|3" default="0"/>	
        <setting id="adultPIN" type="text" label="YETİŞKİN ŞİFRESİ" default="1234" />
        <setting id="adultPINonoff" type="bool" label="YETİŞKİN ŞİFRESİ : KAPALI < > AÇIK" default="true" />
        <setting id="autoupdate" type="bool" label="OTOMATİK GÜNCELLEME : KAPALI < > AÇIK" default="true" />
        <setting id="listegorunumu" type="bool" label="LISTE GORUNUMU : 2 SUTUN < > 3 SUTUN" default="true"/>
        <setting id="mac" label="MAC-ADDRESS" type="text" default="" />
        <setting id="security_key" label="GUVENLIK ANAHTARI" type="text" default="" />		
    </category>
</settings>