<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Settings">
		<!-- <setting id="autoclean" type="bool" label="Auto Clean Cache at Startup" default="true" /> -->
		<setting type="lsep" label="Package Folder Limits" />
		<setting id="filesize_alert" type="slider" label="Max Total Size Of Zip Files" default="100" range="0,999" option="int" />
		<setting type="lsep" label="Package Max Zip Files Limits" />
		<setting id="packagenumbers_alert" type="slider" label="Max Total Number of Zip Files" default="30" range="0,999" option="int" />
		<setting type="lsep" label="Thumbnails Folder Limits" />
		<setting id="filesizethumb_alert" type="slider" label="Max Total Size of Thumbnail Files" default="350" range="0,999" option="int" />
	</category>
</settings>
