<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDE4MTkxNDUsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1NDE3MzI3NDV9.Unu3iqrQPamQH6VDQlTaLFl2zQ09xopLkWq-Wxkji8HUvH637M2Z5tEGMvL3t3oF0qlZXsWH2gONPHB585KglBWMvismE0Z3q283aMP9AcCL-syPSmkob822EwyrSnOg9_ltc5R0-SsTKlgUJf6aC1lQdUWMmw6MQAHpFpxJPVcUQZPGtEe_fhTrQgFDl2dAi5hD-b3eHkrtsGCYhRG7E8zehkchOuq-z6oeeno4VNozZuEPS2_YrCHfEwhWlWr9KjTQ0zFYpcH7iU_4WsUDAChUrJn_rIgiYLl3xxM2aruS-FYdAsX2cXJabuHpMTtORIB-FPS9zMavxOHTqbh0xg" />
</settings>
