<settings version="2">
    <setting id="alluc.api" default="true"></setting>
    <setting id="alluc.download" default="true">false</setting>
    <setting id="alluc.limit" default="true">100</setting>
    <setting id="autoplay.sd" default="true">false</setting>
    <setting id="bookmarks">true</setting>
    <setting id="downloads" default="true">false</setting>
    <setting id="hosts.captcha">true</setting>
    <setting id="hosts.mode">1</setting>
    <setting id="hosts.quality" default="true">0</setting>
    <setting id="hosts.sort.provider" default="true">false</setting>
    <setting id="indicators" default="true">0</setting>
    <setting id="indicators.alt">1</setting>
    <setting id="movie.download.path" default="true"></setting>
    <setting id="open_smu_settings" default="true"></setting>
    <setting id="Password" default="true"></setting>
    <setting id="progress.dialog" default="true">0</setting>
    <setting id="provider.1kino">true</setting>
    <setting id="provider.1movies">true</setting>
    <setting id="provider.afdah">true</setting>
    <setting id="provider.alltube">true</setting>
    <setting id="provider.animebase">true</setting>
    <setting id="provider.animeloads">true</setting>
    <setting id="provider.animeultima">true</setting>
    <setting id="provider.bmoviez">true</setting>
    <setting id="provider.bobby">true</setting>
    <setting id="provider.bs">true</setting>
    <setting id="provider.cartoonhd">true</setting>
    <setting id="provider.cdahd">true</setting>
    <setting id="provider.cine">true</setting>
    <setting id="provider.cinemay">true</setting>
    <setting id="provider.cinenator">true</setting>
    <setting id="provider.crazy">true</setting>
    <setting id="provider.dailyrls">true</setting>
    <setting id="provider.dayt">true</setting>
    <setting id="provider.ddl">true</setting>
    <setting id="provider.ddls">true</setting>
    <setting id="provider.ddlvalley">true</setting>
    <setting id="provider.directdl">true</setting>
    <setting id="provider.dizigold">true</setting>
    <setting id="provider.dltube">true</setting>
    <setting id="provider.dpstreaming">true</setting>
    <setting id="provider.drama4u">true</setting>
    <setting id="provider.dramabus">true</setting>
    <setting id="provider.dramacool">true</setting>
    <setting id="provider.dramafire">true</setting>
    <setting id="provider.einthusan">true</setting>
    <setting id="provider.filister">true</setting>
    <setting id="provider.filmenstreaminghd">true</setting>
    <setting id="provider.filmpalast">true</setting>
    <setting id="provider.filmyto">true</setting>
    <setting id="provider.flenix">true</setting>
    <setting id="provider.flixanity">true</setting>
    <setting id="provider.foxx">true</setting>
    <setting id="provider.fullmoviz">true</setting>
    <setting id="provider.fullstream">true</setting>
    <setting id="provider.genvideo">true</setting>
    <setting id="provider.gogoanime">true</setting>
    <setting id="provider.hdfilme">true</setting>
    <setting id="provider.hevcfilm">true</setting>
    <setting id="provider.iheartdrama">true</setting>
    <setting id="provider.ikshow">true</setting>
    <setting id="provider.iload">true</setting>
    <setting id="provider.kdramacool">true</setting>
    <setting id="provider.kingmovies">true</setting>
    <setting id="provider.kinodogs">true</setting>
    <setting id="provider.kinox">true</setting>
    <setting id="provider.library">true</setting>
    <setting id="provider.meinkino">true</setting>
    <setting id="provider.miradetodo">true</setting>
    <setting id="provider.movie25">true</setting>
    <setting id="provider.movie4k">true</setting>
    <setting id="provider.moviefree">true</setting>
    <setting id="provider.moviegross">true</setting>
    <setting id="provider.movies14">true</setting>
    <setting id="provider.moviesever">true</setting>
    <setting id="provider.movieshd">true</setting>
    <setting id="provider.moviesplanet">true</setting>
    <setting id="provider.moviexk">true</setting>
    <setting id="provider.myasiantv">true</setting>
    <setting id="provider.myddl">true</setting>
    <setting id="provider.myvideolink">true</setting>
    <setting id="provider.netzkino">true</setting>
    <setting id="provider.ninemovies">true</setting>
    <setting id="provider.onemovies">true</setting>
    <setting id="provider.onlinedizi">true</setting>
    <setting id="provider.onlinemovies">true</setting>
    <setting id="provider.onseries">true</setting>
    <setting id="provider.openmovies">true</setting>
    <setting id="provider.ororo">true</setting>
    <setting id="provider.pelispedia">true</setting>
    <setting id="provider.phdmovies">true</setting>
    <setting id="provider.plocker">true</setting>
    <setting id="provider.pmovies">true</setting>
    <setting id="provider.primewire">true</setting>
    <setting id="provider.projectfree">true</setting>
    <setting id="provider.pubfilm">true</setting>
    <setting id="provider.pureanime">true</setting>
    <setting id="provider.releasebb">true</setting>
    <setting id="provider.rlsbb">true</setting>
    <setting id="provider.rlsmovies">true</setting>
    <setting id="provider.scenedown">true</setting>
    <setting id="provider.sceper">true</setting>
    <setting id="provider.scnrls">true</setting>
    <setting id="provider.serienstream">true</setting>
    <setting id="provider.seriesever">true</setting>
    <setting id="provider.seriesonline">true</setting>
    <setting id="provider.sezonlukdizi">true</setting>
    <setting id="provider.skstream">true</setting>
    <setting id="provider.solarmovie">true</setting>
    <setting id="provider.streamay">true</setting>
    <setting id="provider.streamdream">true</setting>
    <setting id="provider.streamflix">true</setting>
    <setting id="provider.streamingseries">true</setting>
    <setting id="provider.streamit">true</setting>
    <setting id="provider.streamkiste">true</setting>
    <setting id="provider.streamlord">true</setting>
    <setting id="provider.szukajkatv">true</setting>
    <setting id="provider.tata">true</setting>
    <setting id="provider.tinydl">true</setting>
    <setting id="provider.torba">true</setting>
    <setting id="provider.tunemovie">true</setting>
    <setting id="provider.tvbmoviez">true</setting>
    <setting id="provider.twoddl">true</setting>
    <setting id="provider.video4k">true</setting>
    <setting id="provider.watch32">true</setting>
    <setting id="provider.watch5s">true</setting>
    <setting id="provider.watchfree">true</setting>
    <setting id="provider.watchhd">true</setting>
    <setting id="provider.watchseries">true</setting>
    <setting id="provider.wrzcraft">true</setting>
    <setting id="provider.xmovies">true</setting>
    <setting id="provider.ymovies">true</setting>
    <setting id="scrapers.timeout.1">10</setting>
    <setting id="startupd">2</setting>
    <setting id="subtitles">true</setting>
    <setting id="subtitles.lang.1">Turkish</setting>
    <setting id="subtitles.lang.2">Turkish</setting>
    <setting id="subtitles.utf">true</setting>
    <setting id="trakt.refresh" default="true"></setting>
    <setting id="trakt.token" default="true"></setting>
    <setting id="trakt.user" default="true"></setting>
    <setting id="tv.download.path" default="true"></setting>
    <setting id="Username" default="true"></setting>
    <setting id="xxxx" default="true"></setting>
</settings>
