<settings version="2">
    <setting id="ad.account_id" default="true"></setting>
    <setting id="ad.enabled">true</setting>
    <setting id="ad.token" default="true"></setting>
    <setting id="all_trailers" default="true">false</setting>
    <setting id="auto_play" default="true">false</setting>
    <setting id="auto_resume" default="true">0</setting>
    <setting id="auto_start_fen" default="true">false</setting>
    <setting id="autoplay_hevc" default="true">Include</setting>
    <setting id="autoplay_minimal_notifications" default="true">false</setting>
    <setting id="autoplay_next_check_threshold">3</setting>
    <setting id="autoplay_next_episode" default="true">false</setting>
    <setting id="autoplay_quality" default="true">SD, 720p, 1080p, 4K</setting>
    <setting id="backup.backup" default="true"></setting>
    <setting id="backup.restore" default="true"></setting>
    <setting id="backup_directory" default="true"></setting>
    <setting id="cache_browsed_page" default="true">false</setting>
    <setting id="calendar_focus_today">true</setting>
    <setting id="check.downloads">false</setting>
    <setting id="check.folders">false</setting>
    <setting id="check.local">false</setting>
    <setting id="choice.accounts" default="true">0</setting>
    <setting id="choice.downloads" default="true">0</setting>
    <setting id="choice.ext_scrapers" default="true">0</setting>
    <setting id="choice.folder_scrapers" default="true">0</setting>
    <setting id="choice.general" default="true">0</setting>
    <setting id="choice.int_scrapers" default="true">0</setting>
    <setting id="choice.next_episodes" default="true">0</setting>
    <setting id="choice.playback" default="true">0</setting>
    <setting id="choice.results" default="true">0</setting>
    <setting id="choice.subscriptions" default="true">0</setting>
    <setting id="choice.trakt" default="true">0</setting>
    <setting id="clean_library_after_service" default="true">false</setting>
    <setting id="datetime.offset" default="true">0</setting>
    <setting id="default_all_episodes" default="true">false</setting>
    <setting id="default_openinfo" default="true">0</setting>
    <setting id="disable_changelog_popup" default="true">false</setting>
    <setting id="display_mode" default="true">0</setting>
    <setting id="download.frequency">10</setting>
    <setting id="download.notification">2</setting>
    <setting id="download.suppress" default="true">false</setting>
    <setting id="easynews_limit">100</setting>
    <setting id="easynews_maxgb">100</setting>
    <setting id="easynews_moderation">true</setting>
    <setting id="easynews_password" default="true"></setting>
    <setting id="easynews_user" default="true"></setting>
    <setting id="ext_dialog_highlight" default="true">dodgerblue</setting>
    <setting id="failing_scrapers.reset" default="true">0</setting>
    <setting id="failing_scrapers.reset_time" default="true"></setting>
    <setting id="failing_scrapers.threshold">25</setting>
    <setting id="fen.theme" default="true">Light</setting>
    <setting id="folder1.display_name" default="true">Folder 1</setting>
    <setting id="folder1.movies_directory" default="true">None</setting>
    <setting id="folder1.tv_shows_directory" default="true">None</setting>
    <setting id="folder2.display_name" default="true">Folder 2</setting>
    <setting id="folder2.movies_directory" default="true">None</setting>
    <setting id="folder2.tv_shows_directory" default="true">None</setting>
    <setting id="folder3.display_name" default="true">Folder 3</setting>
    <setting id="folder3.movies_directory" default="true">None</setting>
    <setting id="folder3.tv_shows_directory" default="true">None</setting>
    <setting id="folder4.display_name" default="true">Folder 4</setting>
    <setting id="folder4.movies_directory" default="true">None</setting>
    <setting id="folder4.tv_shows_directory" default="true">None</setting>
    <setting id="folder5.display_name" default="true">Folder 5</setting>
    <setting id="folder5.movies_directory" default="true">None</setting>
    <setting id="folder5.tv_shows_directory" default="true">None</setting>
    <setting id="furk.limit">100</setting>
    <setting id="furk.mod.level" default="true">No</setting>
    <setting id="furk_api_key" default="true"></setting>
    <setting id="furk_login" default="true"></setting>
    <setting id="furk_maxgb">100</setting>
    <setting id="furk_password" default="true"></setting>
    <setting id="highlight.type" default="true">0</setting>
    <setting id="hosts.captcha">true</setting>
    <setting id="ignore_articles">true</setting>
    <setting id="include_3d_results">true</setting>
    <setting id="include_downloads_in_filter" default="true">false</setting>
    <setting id="include_folders_in_filter" default="true">false</setting>
    <setting id="include_local_in_filter" default="true">false</setting>
    <setting id="include_nondebrid_results">true</setting>
    <setting id="include_prerelease_results">true</setting>
    <setting id="include_uncached_results" default="true">false</setting>
    <setting id="indicators_amble" default="true"></setting>
    <setting id="int_dialog_highlight" default="true">darkgoldenrod</setting>
    <setting id="internal_scrapers_order" default="true">FILES, FURK, EASYNEWS, CLOUD</setting>
    <setting id="movie_download_directory" default="true">special://profile/addon_data/plugin.video.fen/Movies Downloads/</setting>
    <setting id="movies_directory" default="true">special://profile/addon_data/plugin.video.fen/Movie Subscriptions/</setting>
    <setting id="nav_jump" default="true">0</setting>
    <setting id="nav_jump_dummy" default="true">0</setting>
    <setting id="nextep.airdate_colour" default="true">magenta</setting>
    <setting id="nextep.airdate_format" default="true">0</setting>
    <setting id="nextep.cache_to_disk" default="true">false</setting>
    <setting id="nextep.include_airdate">true</setting>
    <setting id="nextep.include_unaired">true</setting>
    <setting id="nextep.include_unwatched">true</setting>
    <setting id="nextep.sort_order" default="true">0</setting>
    <setting id="nextep.sort_type" default="true">0</setting>
    <setting id="nextep.threshold">90</setting>
    <setting id="nextep.unaired_colour" default="true">red</setting>
    <setting id="nextep.unwatched_colour" default="true">darkgoldenrod</setting>
    <setting id="open_ad_authenticate" default="true"></setting>
    <setting id="open_ad_reauthenticate" default="true"></setting>
    <setting id="open_ad_revoke_authenticate" default="true"></setting>
    <setting id="open_pm_authenticate" default="true"></setting>
    <setting id="open_pm_reauthenticate" default="true"></setting>
    <setting id="open_pm_revoke_authenticate" default="true"></setting>
    <setting id="open_rd_authenticate" default="true"></setting>
    <setting id="open_rd_reauthenticate" default="true"></setting>
    <setting id="open_rd_revoke_authenticate" default="true"></setting>
    <setting id="open_trakt_authenticate" default="true"></setting>
    <setting id="open_trakt_de-authenticate" default="true"></setting>
    <setting id="openscrapers.version" default="true"></setting>
    <setting id="page_limit">20</setting>
    <setting id="paginate.lists" default="true">false</setting>
    <setting id="pm.account_id" default="true"></setting>
    <setting id="pm.enabled">true</setting>
    <setting id="pm.token" default="true"></setting>
    <setting id="preemptive.limit">10</setting>
    <setting id="preemptive.quality" default="true">All</setting>
    <setting id="preemptive.termination" default="true">false</setting>
    <setting id="prem.identify" default="true">dodgerblue</setting>
    <setting id="premium_download_directory" default="true">special://profile/addon_data/plugin.video.fen/Premium Downloads/</setting>
    <setting id="progress.heading" default="true">0</setting>
    <setting id="provider.ad-cloud" default="true">false</setting>
    <setting id="provider.ad-cloud_colour" default="true">orange</setting>
    <setting id="provider.downloads">true</setting>
    <setting id="provider.downloads_colour" default="true">red</setting>
    <setting id="provider.easynews" default="true">false</setting>
    <setting id="provider.easynews_colour" default="true">green</setting>
    <setting id="provider.external">true</setting>
    <setting id="provider.folders" default="true">false</setting>
    <setting id="provider.folders_colour" default="true">red</setting>
    <setting id="provider.furk" default="true">false</setting>
    <setting id="provider.furk_colour" default="true">firebrick</setting>
    <setting id="provider.local">true</setting>
    <setting id="provider.local_colour" default="true">yellow</setting>
    <setting id="provider.pm-cloud" default="true">false</setting>
    <setting id="provider.pm-cloud_colour" default="true">purple</setting>
    <setting id="provider.rd-cloud" default="true">false</setting>
    <setting id="provider.rd-cloud_colour" default="true">orange</setting>
    <setting id="rd.auth" default="true"></setting>
    <setting id="rd.client_id" default="true"></setting>
    <setting id="rd.enabled">true</setting>
    <setting id="rd.refresh" default="true"></setting>
    <setting id="rd.secret" default="true"></setting>
    <setting id="rd.token" default="true"></setting>
    <setting id="rd.username" default="true"></setting>
    <setting id="recent_added_limit">20</setting>
    <setting id="refresh_trakt_on_startup" default="true">false</setting>
    <setting id="remove.duplicates" default="true">false</setting>
    <setting id="remove.duplicates.torrents" default="true">false</setting>
    <setting id="remove.failing_scrapers" default="true">false</setting>
    <setting id="results.multiline_label" default="true">false</setting>
    <setting id="results.page_limit">300</setting>
    <setting id="results.paginate" default="true">false</setting>
    <setting id="results.show_extra_info">true</setting>
    <setting id="results.show_filenames">true</setting>
    <setting id="results.sort_ad-cloud_first">true</setting>
    <setting id="results.sort_downloads_first">true</setting>
    <setting id="results.sort_folders_first">true</setting>
    <setting id="results.sort_local_first">true</setting>
    <setting id="results.sort_order" default="true">0</setting>
    <setting id="results.sort_pm-cloud_first">true</setting>
    <setting id="results.sort_rd-cloud_first">true</setting>
    <setting id="results_quality" default="true">SD, 720p, 1080p, 4K</setting>
    <setting id="resume.threshold">2</setting>
    <setting id="scraper_1080p_highlight" default="true">lawngreen</setting>
    <setting id="scraper_4k_highlight" default="true">magenta</setting>
    <setting id="scraper_720p_highlight" default="true">gold</setting>
    <setting id="scraper_SD_highlight" default="true">lightsaltegray</setting>
    <setting id="scrapers.timeout.1">30</setting>
    <setting id="search.finish.early">true</setting>
    <setting id="secondline.identify" default="true">No Color</setting>
    <setting id="service_time" default="true">2000-01-01 00:00:00</setting>
    <setting id="settings_layout">Advanced (Multiple Submenus)</setting>
    <setting id="show_specials" default="true">false</setting>
    <setting id="skip_duplicates" default="true">false</setting>
    <setting id="store_torrent.alldebrid" default="true">false</setting>
    <setting id="store_torrent.premiumize.me" default="true">false</setting>
    <setting id="store_torrent.real-debrid" default="true">false</setting>
    <setting id="subsciptions.update_type" default="true">0</setting>
    <setting id="subscription_timer" default="true">24</setting>
    <setting id="subscription_update" default="true">false</setting>
    <setting id="subscriptions.add_release_date" default="true">false</setting>
    <setting id="subscriptions.add_unknown_airdate" default="true">false</setting>
    <setting id="subscriptions_update_label1" default="true">24 Hours</setting>
    <setting id="subscriptions_update_label2" default="true">06:00</setting>
    <setting id="subtitle_amble" default="true"></setting>
    <setting id="subtitles.auto_enable">true</setting>
    <setting id="subtitles.language" default="true">English</setting>
    <setting id="subtitles.language2" default="true">None</setting>
    <setting id="subtitles.show_notification">true</setting>
    <setting id="subtitles.subs_action" default="true">Off</setting>
    <setting id="sync_fen_watchstatus" default="true">false</setting>
    <setting id="sync_kodi_library_watchstatus" default="true">false</setting>
    <setting id="theme_amble" default="true"></setting>
    <setting id="theme_installed">true</setting>
    <setting id="thread_main_menus" default="true">false</setting>
    <setting id="tmdb_api" default="true">1b0d3c6ac6a6c0fa87b55a1069d6c9c8</setting>
    <setting id="torrent.check.cache">true</setting>
    <setting id="torrent.display.uncached" default="true">false</setting>
    <setting id="torrent.filter.size" default="true">false</setting>
    <setting id="torrent.identify" default="true">magenta</setting>
    <setting id="torrent.min.seeders">10</setting>
    <setting id="torrent.size.maximum.episodes" default="true">5</setting>
    <setting id="torrent.size.maximum.movies" default="true">35</setting>
    <setting id="torrent.size.minimum.episodes" default="true">0</setting>
    <setting id="torrent.size.minimum.movies" default="true">0</setting>
    <setting id="torrent.sort.size">true</setting>
    <setting id="torrent.sort.them.up" default="true">false</setting>
    <setting id="trakt.calendar_future_days">7</setting>
    <setting id="trakt.calendar_previous_days">7</setting>
    <setting id="trakt.subscriptions_active" default="true">false</setting>
    <setting id="trakt.subscriptions_movie" default="true"></setting>
    <setting id="trakt.subscriptions_movie_display" default="true"></setting>
    <setting id="trakt.subscriptions_show" default="true"></setting>
    <setting id="trakt.subscriptions_show_display" default="true"></setting>
    <setting id="trakt_access_token" default="true"></setting>
    <setting id="trakt_cache_duration" default="true">0</setting>
    <setting id="trakt_expires_at" default="true"></setting>
    <setting id="trakt_indicators_active" default="true">false</setting>
    <setting id="trakt_refresh_token" default="true"></setting>
    <setting id="trakt_user" default="true"></setting>
    <setting id="trakt_widget_limit">20</setting>
    <setting id="tv_shows_directory" default="true">special://profile/addon_data/plugin.video.fen/TVShow Subscriptions/</setting>
    <setting id="tvshow_download_directory" default="true">special://profile/addon_data/plugin.video.fen/TV Show Downloads/</setting>
    <setting id="unaired_episode_colour" default="true">red</setting>
    <setting id="update_library_after_service" default="true">false</setting>
    <setting id="use_season_title" default="true">false</setting>
    <setting id="version_check" default="true"></setting>
    <setting id="version_number">1.6.17</setting>
    <setting id="watched.threshold">90</setting>
    <setting id="watched_indicators" default="true">0</setting>
</settings>
