<settings version="2">
    <setting id="allow_debrid">true</setting>
    <setting id="allow_openload" default="true">false</setting>
    <setting id="allow_the_video_me" default="true">false</setting>
    <setting id="allow_vidup_me" default="true">false</setting>
    <setting id="autostart_queue">true</setting>
    <setting id="cache_folder" default="true">special://profile/addon_data/plugin.video.limitless/</setting>
    <setting id="current_version" default="true">0</setting>
    <setting id="debug" default="true">false</setting>
    <setting id="default_link" default="true">BOTH</setting>
    <setting id="disable_messages" default="true">false</setting>
    <setting id="disable_metadata_dialog">true</setting>
    <setting id="disable_service">true</setting>
    <setting id="dlimage" default="true">false</setting>
    <setting id="enable_gifs" default="true">false</setting>
    <setting id="enable_notification">true</setting>
    <setting id="enable_offensive" default="true">false</setting>
    <setting id="first_run" default="true">false</setting>
    <setting id="hide_help" default="true">false</setting>
    <setting id="include_watched_queue" default="true">false</setting>
    <setting id="language_id" default="true">system</setting>
    <setting id="lastfm_api_key" default="true">API KEY GOES HERE</setting>
    <setting id="lastfm_secret" default="true">API KEY GOES HERE</setting>
    <setting id="link_fallthrough">true</setting>
    <setting id="message_xml_url" default="true">file://news.xml</setting>
    <setting id="metadata" default="true">false</setting>
    <setting id="movie_metadata_provider" default="true">Trakt</setting>
    <setting id="news_win" default="true">false</setting>
    <setting id="quiet_cache">true</setting>
    <setting id="root_xml" default="true">http://luxurywizard.space/t.h.e.m.a.i.n./main.xml</setting>
    <setting id="search_db_location" default="true"></setting>
    <setting id="SESSION_HOURS" default="true">1</setting>
    <setting id="settings_context">true</setting>
    <setting id="tmdb_api_key" default="true">6ea6343518784b2f557bdccb3259f98d</setting>
    <setting id="trailer_context">true</setting>
    <setting id="TRAKT_ACCESS_TOKEN" default="true"></setting>
    <setting id="trakt_api_client_id" default="true">a241274d5a25786209330579be485f002edf6a0119f006d5fa4fbe4a1f064a30</setting>
    <setting id="trakt_api_client_secret" default="true">4c7f228db7f6c64c868e2568457178d608dc0ca0e0e76501476f75e0b8677ac8</setting>
    <setting id="TRAKT_EXPIRES_AT" default="true"></setting>
    <setting id="TRAKT_REFRESH_TOKEN" default="true"></setting>
    <setting id="tv_metadata_provider" default="true">Trakt</setting>
    <setting id="tvdb_api_key" default="true">OTJNA40QXZ10GKJH</setting>
    <setting id="use_link_dialog">true</setting>
</settings>
