<settings version="2">
    <setting id="ace_cmd" default="true">0</setting>
    <setting id="ace_cmd_alternative" default="true"></setting>
    <setting id="aceplay_type" default="true">0</setting>
    <setting id="aceporta" default="true">62062</setting>
    <setting id="acestream_cachefolder" default="true"></setting>
    <setting id="acestream_version">3.0.4</setting>
    <setting id="addon_history">true</setting>
    <setting id="android_port" default="true">8621</setting>
    <setting id="android_sopclient" default="true"></setting>
    <setting id="app_id" default="true"></setting>
    <setting id="auto_appid">true</setting>
    <setting id="auto_ip">true</setting>
    <setting id="autoconfig">false</setting>
    <setting id="buffer_size">8192</setting>
    <setting id="custom_appid" default="true"></setting>
    <setting id="custom_kill_ace" default="true"></setting>
    <setting id="debug_mode" default="true">false</setting>
    <setting id="engine-status">true</setting>
    <setting id="engine_app" default="true">0</setting>
    <setting id="external-sopcast" default="true">0</setting>
    <setting id="folder" default="true"></setting>
    <setting id="force_dvplayer" default="true">false</setting>
    <setting id="ip_addr" default="true">127.0.0.1</setting>
    <setting id="items_per_page">20</setting>
    <setting id="kill_type" default="true">0</setting>
    <setting id="last_version_check">0.1.8</setting>
    <setting id="loading_time">20</setting>
    <setting id="local_port">9000</setting>
    <setting id="localhost" default="true">127.0.0.1</setting>
    <setting id="openeleci386" default="true">false</setting>
    <setting id="openelecx86_64" default="true">false</setting>
    <setting id="pausable" default="true">false</setting>
    <setting id="playerport" default="true">6878</setting>
    <setting id="rpi2" default="true">false</setting>
    <setting id="save" default="true">false</setting>
    <setting id="shutdown-engine" default="true">false</setting>
    <setting id="socket_time">15</setting>
    <setting id="sopcast_version"></setting>
    <setting id="stream_time">6</setting>
    <setting id="stream_time_osx">15</setting>
    <setting id="total_max_download_rate" default="true">0</setting>
    <setting id="total_max_upload_rate" default="true">0</setting>
    <setting id="video_port">9001</setting>
    <setting id="wait_time">1000</setting>
</settings>
