<settings>
    <setting id="1080pMovies_enabled" value="true" />
    <setting id="123moviess_enabled" value="false" />
    <setting id="Alluc_enabled" value="false" />
    <setting id="Alluc_max" value="20" />
    <setting id="Alluc_pw" value="Password" />
    <setting id="Alluc_user" value="Username" />
    <setting id="Animetoon_enabled" value="true" />
    <setting id="BnwMovies_enabled" value="true" />
    <setting id="Bobmovies_enabled" value="true" />
    <setting id="CartoonHD_enabled" value="true" />
    <setting id="CoolMovieZone_enabled" value="true" />
    <setting id="CoolTV_enabled" value="true" />
    <setting id="CouchTuner_enabled" value="true" />
    <setting id="DareWatch_enabled" value="true" />
    <setting id="Direct Download_enabled" value="true" />
    <setting id="FanMovieShow_enabled" value="true" />
    <setting id="FilmFrantic_enabled" value="true" />
    <setting id="Filmapik_enabled" value="true" />
    <setting id="Flenix_enabled" value="true" />
    <setting id="FreeDownload_enabled" value="true" />
    <setting id="Freemusic_enabled" value="true" />
    <setting id="HD Popcorns_enabled" value="true" />
    <setting id="HollyMovieHD_enabled" value="true" />
    <setting id="Hubmovie_enabled" value="true" />
    <setting id="HugeMoviesDB_enabled" value="true" />
    <setting id="Indexer_enabled" value="true" />
    <setting id="Movie25_enabled" value="true" />
    <setting id="Movie321cc_enabled" value="true" />
    <setting id="Movie4k_enabled" value="true" />
    <setting id="MovieSeriesTV_enabled" value="true" />
    <setting id="MovieTV_enabled" value="true" />
    <setting id="MovienoLimit_enabled" value="true" />
    <setting id="MoviesFoundOnline_enabled" value="true" />
    <setting id="MyVideoLinks_enabled" value="true" />
    <setting id="MyWatchSeries_enabled" value="true" />
    <setting id="OceanofMovies_enabled" value="true" />
    <setting id="OnlineHDWatch_enabled" value="true" />
    <setting id="OnlineStream_enabled" value="true" />
    <setting id="Pinoytva_enabled" value="true" />
    <setting id="Primeio_enabled" value="true" />
    <setting id="PutlockerHD_enabled" value="true" />
    <setting id="Releasebb_enabled" value="true" />
    <setting id="SeriesCraving_enabled" value="true" />
    <setting id="TVRelease_enabled" value="true" />
    <setting id="The Movie Time_enabled" value="true" />
    <setting id="TheWatchSeries_enabled" value="true" />
    <setting id="TubiTv_enabled" value="true" />
    <setting id="TvMovieStream_enabled" value="true" />
    <setting id="TwoDDL_enabled" value="true" />
    <setting id="VexMovies_enabled" value="true" />
    <setting id="Watch32hd_enabled" value="true" />
    <setting id="WatchFullMovie_enabled" value="true" />
    <setting id="WatchMoviesZone_enabled" value="true" />
    <setting id="Watchcartoon_enabled" value="true" />
    <setting id="Watchepisodes_enabled" value="true" />
    <setting id="Watchstream_enabled" value="true" />
    <setting id="YifyMovies_enabled" value="true" />
    <setting id="ZooCinema_enabled" value="true" />
    <setting id="cache_enabled" value="true" />
    <setting id="dev_log" value="false" />
    <setting id="extramovies_enabled" value="true" />
    <setting id="full4movies_enabled" value="true" />
    <setting id="ionlinemovies_enabled" value="true" />
    <setting id="movie4u_enabled" value="true" />
    <setting id="moviewatcher_enabled" value="true" />
    <setting id="openloadmovie_enabled" value="true" />
    <setting id="primewire_baseurl" value="http://www.primewire.ag" />
    <setting id="primewire_enabled" value="true" />
    <setting id="watchfree_baseurl" value="http://www.gowatchfreemovies.to" />
    <setting id="watchfree_enabled" value="true" />
    <setting id="watchfrees_enabled" value="true" />
    <setting id="wzrcraft_enabled" value="true" />
    <setting id="ydmoviez_enabled" value="true" />
    <setting id="yesmovies_enabled" value="true" />
</settings>
