<settings>
    <setting id="ShowHomeButtonLiveTV" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="HideHomeButtonLiveTV" type="bool">false</setting>
    <setting id="HideVideoBackground" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="HideHomeButtonWeather" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="ShowHomeButtonRadio" type="bool">false</setting>
    <setting id="HideHomeButtonFavourites" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="HideHomeButtonPrograms" type="bool">false</setting>
    <setting id="HideHomeButtonPictures" type="bool">false</setting>
    <setting id="HideHomeButtonVideo" type="bool">false</setting>
    <setting id="HideHomeButtonMusic" type="bool">false</setting>
    <setting id="HideHomeButtonTVShows" type="bool">false</setting>
    <setting id="HideHomeButtonMovies" type="bool">false</setting>
    <setting id="HideHomeButtonRadio" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="HideVizBackground" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="HomeAddonButton11" type="string"></setting>
    <setting id="HomeAddonButton9" type="string"></setting>
    <setting id="HomeAddonButton7" type="string"></setting>
    <setting id="HomeAddonButton4" type="string"></setting>
    <setting id="HomeAddonButton13" type="string"></setting>
    <setting id="HomeAddonButton6" type="string"></setting>
    <setting id="HomeAddonButton12" type="string"></setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="HomeAddonButton5" type="string"></setting>
    <setting id="HomeAddonButton10" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="HomeAddonButton2" type="string"></setting>
    <setting id="HomeAddonButton3" type="string"></setting>
    <setting id="FirstRun" type="string">done</setting>
    <setting id="HomeAddonButton8" type="string"></setting>
    <setting id="HomeAddonButton1" type="string"></setting>
    <setting id="HomeAddonButton14" type="string"></setting>
    <setting id="SkinSettings" type="string">1</setting>
    <setting id="HomeAddonButton15" type="string"></setting>
</settings>
