<settings>
    <setting id="alternative.playback" value="true" />
    <setting id="cache.data.on.xbmc.startup" value="true" />
    <setting id="enable.osd" value="false" />
    <setting id="enablexxxpass" value="false" />
    <setting id="freshstart" value="false" />
    <setting id="notifications.enabled" value="false" />
    <setting id="program.background.enabled" value="true" />
    <setting id="source" value="XMLTV" />
    <setting id="xmltv.type" value="30125" />
    <setting id="xmltv.url" value="https://raw.githubusercontent.com/sClarkeIsBack/StreamHub/master/guide.xml" />
    <setting id="xxxpass" value="" />
    <setting id="youseetv.category" value="Danske" />
</settings>
