<settings version="2">
    <setting id="api.language">Turkish</setting>
    <setting id="appearance.1" default="true">Neptune</setting>
    <setting id="appearance.alt" default="true">-</setting>
    <setting id="autoplay.sd" default="true">false</setting>
    <setting id="bookmarks">true</setting>
    <setting id="crefresh" default="true">false</setting>
    <setting id="debridsources" default="true">false</setting>
    <setting id="downloads" default="true">false</setting>
    <setting id="fanart">true</setting>
    <setting id="fanart.tv.user" default="true"></setting>
    <setting id="flatten.tvshows">true</setting>
    <setting id="HEVC">true</setting>
    <setting id="hosts.captcha">true</setting>
    <setting id="hosts.mode">1</setting>
    <setting id="hosts.quality" default="true">0</setting>
    <setting id="hosts.sort.provider" default="true">false</setting>
    <setting id="imdb.user" default="true"></setting>
    <setting id="indicators" default="true">0</setting>
    <setting id="indicators.alt">1</setting>
    <setting id="library.check">true</setting>
    <setting id="library.check_episode" default="true">false</setting>
    <setting id="library.check_movie" default="true">false</setting>
    <setting id="library.include_unknown">true</setting>
    <setting id="library.movie" default="true">special://userdata/addon_data/plugin.video.neptune/Movies</setting>
    <setting id="library.service.notification">true</setting>
    <setting id="library.service.update">true</setting>
    <setting id="library.tv" default="true">special://userdata/addon_data/plugin.video.neptune/TVShows</setting>
    <setting id="library.update">true</setting>
    <setting id="lists.widget">1</setting>
    <setting id="movie.download.path" default="true"></setting>
    <setting id="movie.widget">1</setting>
    <setting id="nanscraper" default="true"></setting>
    <setting id="open_smu_settings" default="true"></setting>
    <setting id="progress.dialog" default="true">0</setting>
    <setting id="providers.lang" default="true">English</setting>
    <setting id="scrapers.timeout.1">30</setting>
    <setting id="sources.extrainfo">true</setting>
    <setting id="subtitles">true</setting>
    <setting id="subtitles.lang.1">Turkish</setting>
    <setting id="subtitles.lang.2">Turkish</setting>
    <setting id="subtitles.utf">true</setting>
    <setting id="tm.user" default="true"></setting>
    <setting id="trakt.refresh" default="true"></setting>
    <setting id="trakt.token" default="true"></setting>
    <setting id="trakt.user" default="true"></setting>
    <setting id="tv.download.path" default="true"></setting>
    <setting id="tv.widget">1</setting>
    <setting id="tv.widget.alt">2</setting>
</settings>
